body {
    font-family: Raleway, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

@view-transition {
    navigation: auto;
}

/* padding for the gallery */
div.row>div>div.row,
.big-bottom {
    margin-bottom: 15px;
}

iframe {
    border-radius: var(--bs-border-radius);
}

.card-body .table,
.accordion-body .table {
    margin-bottom: 0;

    tr:last-child td {
        border-bottom: 0 !important;
    }
}

table.dataTable.no-footer {
    border-bottom-width: 0 !important;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 1rem;
    column-gap: 1rem;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-gap-3 {
    column-gap: 1rem;
    row-gap: 1rem;
}

.photo-thumbnail {
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--bs-border-radius);
    transition: outline .1s ease-in, border .1s ease-in;
    aspect-ratio: 1;
    border: 1px solid var(--bs-border-color-translucent);

    &:hover,
    &:focus {
        border-color: #007bff;
        outline: 1px solid #007bff;
    }
}

.hover-underline {
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.ekko-lightbox .modal-footer {
    flex-wrap: nowrap;
    justify-content: space-between;
    white-space: nowrap;
    gap: .5rem;
}

.ekko-lightbox-container .img-responsive {
    border-radius: .25rem;
    max-width: 100%;
    max-height: 75vh;
}

.thumb {
    margin-bottom: 30px;
}

.more-images-link:hover {
    text-decoration: none;
}

.more-images-link {
    font-size: 50px;
    padding-top: 25px;
    padding-left: 25px;
}

nav.bg-light {
    box-shadow: 0 2px 4px #ffffff80;
}

.user-profile {
    border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
    max-height: 10rem;
    max-width: 10rem;
    min-height: 7.5rem;
}

.stat-divider {
    border-bottom: 1px solid #8884;
    margin: .5rem 0;
    width: 100%;

    &.vertical {
        border-bottom: none;
        border-right: 1px solid #8888;
        margin: 0 .5rem;
        width: 0;
        height: 1em;
    }
}

.achievements-row {
    font-size: 1.2rem;

    .achievements {
        border-right: 1px solid #8888;
        font-weight: bold;
    }
}

.badge-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .badge {
        &:not(:first-child) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &:not(:last-child) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.tag-link {
    color: #343a40;
    text-decoration: none;
    transition: color .1s ease-in;

    &:hover {
        color: #212529;
        text-decoration: underline;
    }
}

.block-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.minw-0 {
    min-width: 0;
}

.gap-1 {
    gap: .25rem;
}

.stats-card {
    flex-direction: column;
}

.vertical-header,
.horizontal-header {
    flex-shrink: 0;
    padding: .25rem .5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid var(--bs-border-color-translucent);
    text-align: center;
}

.hour-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.hour-datum {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: center;
    justify-content: center;
}

.hour-icon {
    font-size: 3rem;
    line-height: 1;
}

.hour-number {
    font-size: 2.5rem;
    line-height: 1;
}

.hour-label {
    display: none;
}

/* Align cells with numbers to the right */
.number {
    text-align: right;

    &.rank {
        width: 3%;
    }
}

/* Align cells with emoji in them in the middle */
.emoji {
    text-align: center;
}

.important {
    font-weight: bold;
}

.leaderboard-overflow {
    min-width: 0;
    overflow-x: auto;
}

.menu-subheading {
    font-variant: small-caps;
    line-height: 1;
}

.c3 path:not(.c3-line),
.c3 line:not(.c3-legend-item-tile) {
    stroke: var(--bs-body-color) !important;
}

.c3 text {
    font-size: 15px;
}

.c3-axis text,
.c3-legend-item text {
    fill: var(--bs-body-color) !important;
}

.c3-tooltip-container td,
.c3-tooltip-container th {
    background: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

.square-map,
.c3-wide {
    width: 100%;
    aspect-ratio: 1;
}

.table tr.myself {
    background-color: transparent !important;
}

.table tr.myself td {
    background-color: #ffff0020;
}

.sprout {
    font-size: 1.5rem;
    line-height: 1;
    position: absolute;
    top: -1.5rem;
    left: 1rem;
}

#snow-animation-container {
    position: fixed;
    left: 0;
    top: 3.5rem;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}

a.dropdown-item[href^="http"]::after {
    content: '⤴';
    margin-left: .25rem;
    color: #ffffff80;
    font-size: .66rem;
    vertical-align: .25rem;
}

ul.pointless-menu {
    overflow-x: hidden;

    li:has(.discord) {
        display: flex;

        a:first-child {
            flex-grow: 1;
        }

        a:last-child {
            flex-shrink: 1;
            width: auto;
            padding: .25rem .5rem;

            &::after {
                display: none;
            }

            svg {
                height: 1rem;
                width: 1.25rem;
            }
        }
    }
}

.photo-date-picker {
    align-self: center;
    display: flex;
    justify-content: end;
}

.glyphicon::after {
    display: block;
    transform: translateY(-1rem);
    position: absolute;
    text-decoration: none !important;
}

.glyphicon.glyphicon-chevron-left::after {
    content: '◀';
    left: 1rem;
}

.glyphicon.glyphicon-chevron-right::after {
    content: '▶';
    right: 1rem;
}

body.logged-in #sect-main {
    display: none;
}

@media (min-width: 576px) {
    .stats-card {
        flex-direction: row;
    }

    .vertical-header {
        font-size: 1.5rem;
        padding: .5rem;
        writing-mode: vertical-lr;
        /* chrome does not support sideways-lr */
        border-bottom: none;
        border-right: 1px solid var(--bs-border-color-translucent);

        >a {
            display: block;
            transform: rotate(180deg);
        }
    }

    .hour-card {
        padding-bottom: .5rem;
    }

    .hour-datum {
        flex-direction: row;
        gap: 1rem;
    }

    .hour-label {
        display: block;
        font-size: 0.8rem;
    }

    .photo-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    body.logged-in #sect-main {
        display: block;
    }

    .photo-grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .hour-label {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .grid-lg-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid-gap-lg-4 {
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }

    .photo-date-picker {
        width: 0;
    }

    .badge-group:not(.vertical) {
        flex-direction: row;

        .badge {
            flex-grow: 1;

            &:first-child {
                border-bottom-left-radius: var(--bs-badge-border-radius);
            }

            &:not(:first-child) {
                border-bottom-left-radius: 0;
                border-top-right-radius: var(--bs-badge-border-radius);
            }

            &:not(:last-child) {
                border-top-right-radius: 0;
            }
        }
    }

    .hour-label {
        font-size: 1.25rem;
    }

    .photo-grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    /* The pointless menu is too tall. */
    .pointless-menu {
        max-height: 85vh;
        overflow-y: auto;
    }

    .c3-wide {
        aspect-ratio: 1.5;
    }
}

@media (min-width: 1200px) {
    .grid-xl-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .stat-divider:not(.horizontal) {
        border-bottom: none;
        border-right: 1px solid #8888;
        margin: 0 .5rem;
        width: 0;
        height: 1em;
    }

    .hour-label {
        font-size: 1rem;
    }

    .photo-grid {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .c3-wide {
        aspect-ratio: 2;
    }
}

@media (prefers-color-scheme: light) {
    .modal .text-warning {
        color: #a87e00 !important;
    }
}

@media (prefers-color-scheme: dark) {
    .text-black {
        color: #ffffff !important;
    }

    nav.bg-light {
        box-shadow: 0 2px 4px #21252980;
    }

    .bg-light {
        background-color: #343a40 !important;
    }

    .dataTables_filter {
        color: #ced4da !important;
    }

    #cal,
    .leaflet-control {
        filter: invert(95%) brightness(80%);
    }

    .vc-logo {
        display: block;
        background-image: url(/img/PoweredByVC-WeatherLogo-RoundedRectBlack-sm.png);
        background-size: contain;
        background-repeat: no-repeat;

        img {
            visibility: hidden;
        }
    }

    .tag-link {
        color: #dee2e6;

        &:hover {
            color: #ffffff;
        }
    }
}

/* https://github.com/pajasevi/CSSnowflakes */

.snowflake {
    color: #82dafc;
    font-size: 1em;
    text-shadow: 0 0 5px #000;
}

.snowflake,
.snowflake .inner {
    animation-iteration-count: infinite;
    animation-play-state: running
}

@keyframes snowflakes-fall {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(110vh)
    }
}

@keyframes snowflakes-shake {

    0%,
    100% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    position: absolute;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    pointer-events: none;
    animation-name: snowflakes-shake;
    animation-duration: 3s;
    animation-timing-function: ease-in-out
}

.snowflake .inner {
    animation-duration: 10s;
    animation-name: snowflakes-fall;
    animation-timing-function: linear
}

.snowflake:nth-of-type(0) {
    left: 1%;
    animation-delay: 0s
}

.snowflake:nth-of-type(0) .inner {
    animation-delay: 0s
}

.snowflake:first-of-type {
    left: 10%;
    animation-delay: 1s
}

.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
    animation-delay: 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    animation-delay: .5s
}

.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
    animation-delay: 6s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    animation-delay: 2s
}

.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
    animation-delay: 4s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    animation-delay: 2s
}

.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
    animation-delay: 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    animation-delay: 3s
}

.snowflake:nth-of-type(5) .inner {
    animation-delay: 8s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    animation-delay: 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    animation-delay: 1s
}

.snowflake:nth-of-type(7) .inner {
    animation-delay: 2.5s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    animation-delay: 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    animation-delay: 1.5s
}

.snowflake:nth-of-type(9) .inner {
    animation-delay: 3s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    animation-delay: 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    animation-delay: 2.5s
}