*.cfg
*.egg-info
*.pyc
*.tmp
.env*
.gitkeep
.venv*
/*.iml
/build
/data/*
/dist
/env
/freezing/web/version.py
/local_settings.py
/resources/docker/db/sql-scripts
/resources/docker/settings.cfg
/src
tmp.*
