*.cfg
*.egg-info
*.pyc
*.tmp
.env*
.venv*
/*.iml
/build
/data/cache/*
/dist
/env
/freezing/web/utils/meta.py
/local_settings.py
/resources/docker/db/sql-scripts
/resources/docker/settings.cfg
/src
tmp.*
