---
version: '3'

volumes:
  freezing-data:
    external: true

services:

  db:
    image: mysql:5.6
    container_name: freezing-db
    ports:
      - "3306:3306"
    volumes:
      - freezing-data:/var/lib/mysql
      - ./docker/db/sql-scripts:/sql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-fr33z3}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-freezing}
      MYSQL_USER: ${MYSQL_USER:-freezing}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-zeer0}

  web:
    build: .
    container_name: web
    command: bafs-server
    ports:
      - "5000:5000"
    volumes:
      - ./data:/data
      - ./resources/docker/settings.cfg:/config/settings.cfg
    links:
      - db:db.container
    environment:
      VIRTUAL_HOST: ${FREEZING_WEB_FQDN}
      LETSENCRYPT_HOST: ${FREEZING_WEB_FQDN}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
      SECRET_KEY: ${SECRET_KEY}
      DEBUG: ${DEBUG}
      SQLALCHEMY_URL: ${SQLALCHEMY_URL}
      BEANSTALKD_HOST: beanstalkd.container
      BEANSTALKD_PORT: 11300
      STRAVA_CLIENT_ID: ${STRAVA_CLIENT_ID}
      STRAVA_CLIENT_SECRET: ${STRAVA_CLIENT_SECRET}
      TEAMS: ${TEAMS}
      OBSERVER_TEAMS: ${OBSERVER_TEAMS}
      START_DATE: ${START_DATE}
      END_DATE: ${END_DATE}
      TIMEZONE: ${TIMEZONE:-America/New_York}
