-e git+https://github.com/freezingsaddles/freezing-model@0.3.8#egg=freezing-model
-e git+https://github.com/hozn/GeoAlchemy@0.7.3dev1#egg=GeoAlchemy
Flask==1.0
PyMySQL==0.8.0
PyYAML>=4.2b1
arrow==0.12.1
beautifulsoup4==4.3.2
colorlog==2.0.0
envparse==0.2.0
geojson==1.3.2
gunicorn==19.7.1
marshmallow==2.15.1
polyline==1.3.2
python-instagram==1.3.2
pytz==2018.7
stravalib==0.10.2
