stravalib>=0.8.0
polyline==1.3.2
-e git+https://github.com/freezingsaddles/freezing-model@0.1.3#egg=freezing-model
geojson==1.3.2
PyMySQL==0.8.0
arrow==0.12.1
beautifulsoup4==4.3.2
pytz
colorlog==2.0.0
python-instagram==1.3.2
marshmallow==2.15.0
gunicorn==19.7.1
Flask==0.12
envparse==0.2.0
-e git+https://github.com/hozn/GeoAlchemy@0.7.3dev1#egg=GeoAlchemy
