Flask==2.2.2
GeoAlchemy @ https://github.com/hozn/GeoAlchemy/archive/0.7.3dev1.tar.gz
PyMySQL==0.9.3
PyYAML==5.4
alembic==0.9.7
arrow==0.15.5
beautifulsoup4==4.8.2
colorlog==4.1.0
envparse==0.2.0
freezing-model @ https://github.com/freezingsaddles/freezing-model/archive/0.6.1.tar.gz
geojson==2.5.0
gunicorn==20.0.4
marshmallow==3.14.1
marshmallow-enum @ https://github.com/lyft/marshmallow_enum/archive/support-for-marshamallow-3.tar.gz
polyline==1.4.0
python-instagram==1.3.2
pytz==2019.3
stravalib==0.10.4
