{% extends "base.html" %}
{% block content %}
<div class="panel panel-default">
	<div class="panel-heading">Elevation Gain</div>
	<div class="panel-body">
		<p>Elevation gain per mile by team</p>
<table class="table table-condensed">
	<tr><th>Rank</th><th>Team</th><th>Gain per Mile</th><th>Distance</th><th>Elevation</th></tr>
{% for a, b, c, d in data %}
	<tr><td>{{loop.index}}</td><td>{{a}}</td><td>{{b | round(2)}}</td><td>{{c | round(2)}}</td><td>{{d}}</td></tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}
