{% extends "base.html" %}
{% block head %}
<style>.top-buffer{margin-top:20px;}</style>
{% endblock %}
{% block content %}
	<div class="row top-buffer">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1>{{data.user.name}} <small>{{data.team.name}}</small></h1>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<ul class="list-group">
								<li class="list-group-item">Total Rides: <span class="pull-right">{{data.totalrides}}</span></li>
								<li class="list-group-item">Total Mileage: <span class="pull-right">{{data.totaldist | round(1)}}</span></li>
								<li class="list-group-item">Rides This Week: <span class="pull-right">{{data.weekrides}}</span></li>
								<li class="list-group-item">Mileage This Week: <span class="pull-right">{{data.weektotal | round(1)}}</span></li>								
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="list-group">
								<li class="list-group-item">Average Ride: <span class="pull-right">{% if data.totalrides > 0 %}{{(data.totaldist / data.totalrides) | round(1)}}{% else %}N/A{% endif%}</span></li>
								<li class="list-group-item">Average Ride This Week: <span class="pull-right">{% if data.weekrides > 0 %}{{(data.weektotal / data.weekrides) | round(1)}}{% else %}N/A{% endif%}</span></li>							
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
