{% extends "base.html" %}
{% block title %}Civil War History Rides{% endblock %}
{% block content %}
<div class="row"><div class="col-md-12"><h1>Civil War History</h1></div></div>
<div class="row"><div class="col-md-12">
	<p>Ride to a Civil War historical marker and tag your ride with #CivilWarMarker to earn five points. Find streets named after Civil War figures
  and tag your ride with #CivilWarStreet to earn two points. You may find one marker and one street per day.</p>
	<p>See: <a href="http://bikearlingtonforum.com/showthread.php?18067-Pointless-Prize-Civil-War-History">http://bikearlingtonforum.com/showthread.php?18067-Pointless-Prize-Civil-War-History</a></p>
</div></div>

<div class="row">
  <div class="col-md-12">
    {{tdata}}
    	<table id="scores" class="table table-striped">
        <thead><tr>
           <th>Rank</th>
           <th>Athlete</th>
           <th>Markers Visited</th>
           <th>Markers Points</th>
           <th>Streets Found</th>
           <th>Streets Points</th>
           <th>Total Points</th>
        </tr>
           </thead>

         <tbody>
           {% for a,b,c,d,e,f,g in data.tdata %}
               <tr>
                 <td>{{loop.index}}</td>
                 <td><a href="/people/{{a}}">{{b}}</a></td>
                 <td>{{c}}</td>
                 <td>{{d}}</td>
                 <td>{{e}}</td>
                 <td>{{f}}</td>
                 <td>{{g}}</td>
               </tr>
           {% endfor %}
         </tbody>
       </table>
   </div>
</div>
{% endblock %}
