{% extends "base.html" %}
{% block content %}
<div class="panel panel-default">
	<div class="panel-heading">Coffee Rides</div>
	<div class="panel-body">
		<p>Leaderboard for the BAFS 2019 Coffee Ride prize</p>
		<p>Note that the hashtag to appear on this list is #FS2019coffeeride, and it's case-sensitive and subject to review by the offerer of the prize or any other BAFS staff member
			 (which is every participant because this is a volunteer game and we all are in charge (some of us more in charge than others but totally not in a 1984 kind of way))
		 </p>
<table class="table table-condensed">
	<tr><th>Rank</th><th>Player</th><th>{{data.hashtag}} Rides</th><th>{{data.hashtag}} Distance</th></tr>
{% for a, b, c, d in data.tdata %}
	<tr>
		<td>{{loop.index}}</td>
		<td><a href="http://www.strava.com/athletes/{{ a }}" target="_blank">{{b}}</a></td>
		<td>{{c}}</td>
		<td>{{d | round(1)}}</td>
		</tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}
