{% extends "base.html" %}
{% block title %}Least Daily Variance{% endblock %}
{% block content %}
<div class="row"><div class="col-md-12"><h1>Least Daily Variance</h1></div></div>
<div class="row"><div class="col-md-12">
        <p>While the <em>Least Daily Variance</em> price is currently retired, the leaderboard is cool so we're keeping it, and moving this to the Data Exploration area.<p>
    <hr>
    <p>The former Least Daily Variance prize was dedicated in memory of Chris Maimone (CPTJohnC on the forum).</p>
    <p>This prize was given to the player with the lowest avarage variance in miles per day.<p>
    <p>This prize has been in search of a new sponsor since jrenaut is absolutely the worst prize sponsor ever (in his own mind) and never actually gives prizes. (jrenaut wrote this, you can ask him). obscurerichard may have nailed this prize in 2020 definitively but is still waiting for his prize. However he forgives jreneaut. Actual prizes are overrated, <b>bragging rights are FOREVER</b>.</p>
    <hr>
    <p>To qualify you <em>both</em> have to ride at least 50 days (about 2/3 of the total days in the Freezing Saddles season)
    <em>and</em> average more than 2 miles per ride day. If your name is in red, you don't qualify.</p>
</div></div>
<div class="row">
	<div class="col-md-12">
      {{tdata}}
	<table id="variance" class="table table-striped">
      <thead><tr>
         <th>Athlete</th>
         <th>Ride Days</th>
			<th>Total Distance</th>
         <th>Average Variance</th>
         <th>Monday Variance</th>
         <th>Tuesday Variance</th>
         <th>Wednesday Variance</th>
         <th>Thursday Variance</th>
         <th>Friday Variance</th>
         <th>Saturday Variance</th>
         <th>Sunday Variance</th>
      </tr>
         </thead>

		<tbody>
			{% for a,b,c,dist,can_win,d,e,f,g,h,i,j,k in data.tdata %}
         <tr{% if not can_win %} class="danger" {% endif %}>
         <td><a href="/people/{{a}}">{{b}}</a></td>
         <td>{{c}}</td>
			<td>{{dist}}</td>
         <td><b>{{d}}</b></td>
         <td>{{e}}</td>
         <td>{{f}}</td>
         <td>{{g}}</td>
         <td>{{h}}</td>
         <td>{{i}}</td>
         <td>{{j}}</td>
         <td>{{k}}</td>
         </tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
</div>
{% endblock %}
{% block foot %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<script type="text/javascript">
$(document).ready(function(){
    $('#variance').dataTable({
		"order": [[ 3, "asc" ]],
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"bSort": true,
		"bInfo": false,
		"bAutoWidth": false,
		"bDestroy": true
		 } );
} );
</script>
{% endblock %}
