{% extends "base.html" %}
{% block content %}
<div class="card">
	<h5 class="card-header">Average Distance</h5>
	<div class="card-body">
		<p>Rider average distance per ride, minimum ten days with a ride for CPTJohnC's Pointless Prize</p>
<table class="table table-condensed">
	<tr><th>Rank</th><th>Rider</th><th>Average Distance</th></tr>
{% for a, b, c in avg %}
	<tr {% if loop.index==7 %} class="success" {%endif %}><td>{{loop.index}}</td><td><a href="/people/{{a}}">{{b}}</a></td><td>{{c | round(2)}}</td></tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}
