{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>
    <!-- https://github.com/elmarquis/Leaflet.GestureHandling -->
    <link rel="stylesheet" href="/css/leaflet-gesture-handling.min.css" />
    <script src="/js/leaflet-gesture-handling.min.js"></script>
    <script src="/js/ride-map.js"></script>
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h2 class="mb-3">
        {{ title }}
    </h2>
    <p>
        {{ description | safe }}
    </p>
    {% if url %}
        <p>
            See: <a href="{{ url }}">{{ url }}</a>
        </p>
    {% endif %}
    {% if sponsor %}
        <p>
            Sponsored by <em><a href="https://www.bikearlingtonforum.com/forums/users/{{ sponsor }}/">{{ sponsor }}</a></em>.
        </p>
    {% endif %}
    {% if show_rides %}
        <div role="tabpanel"  class="mt-lg-4 mb-lg-3">
            <ul class="nav nav-tabs mb-0" role="tablist">
                <li role="presentation" class="nav-item">
                    <a href="#leaderboard"
                       class="nav-link active"
                       aria-controls="leaderboard"
                       role="tab"
                       data-bs-toggle="tab">Leaderboard</a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#map"
                       id="map-link"
                       class="nav-link"
                       aria-controls="map"
                       role="tab"
                       data-bs-toggle="tab">Ride Map</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel"
                     class="tab-pane active py-2 leaderboard-overflow"
                     id="leaderboard">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th class="number rank">
                                    Rank
                                </th>
                                {% for field in fields %}
                                    {% if field.visible %}
                                        <th class="{{ field.type }}">
                                            {{ field.label or field.name }}
                                        </th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                                <tr class="{{ row.athlete_id | myself }}">
                                    <td class="number rank">
                                        {{ row.rank }}
                                    </td>
                                    {% for field in fields %}
                                        {% if field.visible %}
                                            <td class="{{ field.type }}">
                                                {{ row[field.name] | safe }}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane c3-wide my-3 my-lg-4" id="map">
                </div>
            </div>
        </div>
    {% else %}
        <ul class="nav nav-tabs mt-lg-4">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="">Leaderboard</a>
            </li>
        </ul>
        <div class="leaderboard-overflow mt-2">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="number rank">
                            Rank
                        </th>
                        {% for field in fields %}
                            {% if field.visible %}
                                <th class="{{ field.type }}">
                                    {{ field.label or field.name }}
                                </th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr class="{{ row.athlete_id | myself }}">
                            <td class="number rank">
                                {{ row.rank }}
                            </td>
                            {% for field in fields %}
                                {% if field.visible %}
                                    <td class="{{ field.type }}">
                                        {{ row[field.name] | safe }}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
{% block foot %}
    {% if show_rides %}
        <script type="text/javascript">
  $(function() {
    $('#map-link').one('click', () => {
      create_ride_map('map', '/api/all/trackmap.json?rides={{data | map(attribute="ride_ids") | join(",")}}', null, true);
    });
  });
        </script>
    {% endif %}
{% endblock %}
