{% extends "base.html" %}
{% block title %}
    FS: {{ title }}
{% endblock %}
{% block content %}
    <h2 class="mb-3">
        {{ title }}
    </h2>
    <p>
        {{ description | safe }}
    </p>
    {% if url %}
        <p>
            See: <a href="{{ url }}">{{ url }}</a>
        </p>
    {% endif %}
    {% if sponsor %}
        <p>
            Sponsored by <em><a href="https://www.bikearlingtonforum.com/forums/users/{{ sponsor }}/">{{ sponsor }}</a></em>.
        </p>
    {% endif %}
    <div class="card">
        <div class="card-body py-1">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="number rank">
                            Rank
                        </th>
                        {% for field in fields %}
                            {% if field.visible %}
                                <th class="{{ field.type }}">
                                    {{ field.label or field.name }}
                                </th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr class="{{ row.athlete_id | myself }}">
                            <td class="number rank">
                                {{ row.rank }}
                            </td>
                            {% for field in fields %}
                                {% if field.visible %}
                                    <td class="{{ field.type }}">
                                        {{ row[field.name] | safe }}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
