{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>
    <!-- https://github.com/elmarquis/Leaflet.GestureHandling -->
    <link rel="stylesheet" href="/css/leaflet-gesture-handling.min.css" />
    <script src="/js/leaflet-gesture-handling.min.js"></script>
    <script src="/js/ride-map.js"></script>
{% endblock %}
{% block content %}
    <h2 class="mb-3">
        {% if meta %}
            {{ meta.name }}
        {% else %}
            {{ hashtag }} Ride Miles
        {% endif %}
    </h2>
    {% if meta %}
        <p>
            {{ meta.description | safe }}
        </p>
        {% if meta.url %}
            <p>
                See: <a href="{{ meta.url }}">{{ meta.url }}</a>
            </p>
        {% endif %}
        {% if meta.sponsor %}
            {% set sponsors = meta.sponsor.split(',') %}
            <p>
                Sponsored by
                {% for sp in sponsors %}
                    {# djlint:off #}<em
    ><a href="https://www.bikearlingtonforum.com/forums/users/{{ sp }}/"
      >{{ sp }}</a
    ></em
                    >{% if loop.last %}.{% else %}, {% endif %}{# djlint:on #}
                {% endfor %}
            </p>
        {% else %}
            <p class="text-muted">
                This ride has no sponsor and is completely pointless.
            </p>
        {% endif %}
    {% else %}
        <p>
            Leaderboard for all rides hashtagged <code>{{ hashtag }}</code>
        </p>
        <p>
            To see your own, simply go edit your URL bar and replace
            <strong>{{ hashtag_notag }}</strong> with whatever you want. Only letters and
            numbers are allowed, and it is not case sensitive (so ilovekittens and
            ILoveKittens will generate <em>the same</em> results).
        </p>
    {% endif %}
    <ul class="nav nav-tabs mt-lg-4 mb-lg-3">
        <li class="nav-item">
            <a class="nav-link {{ 'active' if view == 'leaderboard' }}"
               aria-current="{{'page' if view == 'leaderboard' else 'false'}}"
               href="{{ hashtag_notag }}?view=leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if view == 'photos' }}"
               aria-current="{{'page' if view == 'photos' else 'false'}}"
               href="{{ hashtag_notag }}?view=photos">Photos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if view == 'map' }}"
               aria-current="{{'page' if view == 'map' else 'false'}}"
               href="{{ hashtag_notag }}?view=map">Ride Map</a>
        </li>
        {% if view == 'photos' %}
            <input id="date-picker"
                   type="date"
                   class="photo-date-picker"
                   value="{{ datestr or '' }}" />
        {% endif %}
    </ul>
    {% if view == 'leaderboard' %}
        <div id="leader-board">
            <div class="leaderboard-overflow">
                <table class="table table-condensed">
                    <tr>
                        <th class="number rank">
                            Rank
                        </th>
                        <th>
                            Rider
                        </th>
                        {% if meta and meta.rank_by == 'days' %}
                            <th class="number">
                                Ride Days
                            </th>
                        {% else %}
                            <th class="number">
                                Rides
                            </th>
                        {% endif %}
                        <th class="number">
                            Distance
                        </th>
                    </tr>
                    {% for a, b, c, d, e, f in tdata %}
                        <tr class="{{ a | myself }}">
                            <td class="number rank">
                                {{ f }}
                            </td>
                            <td>
                                <a href="/people/{{ a }}" class="hover-underline">{{ b }}</a>
                            </td>
                            <td class="number">
                                {{ e if meta and meta.rank_by == 'days' else c }}
                            </td>
                            <td class="number">
                                {{ d | round(1) }} mi
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% elif view == 'photos' %}
        {% if photos %}
            <div class="photo-grid my-4 gap-lg-4 gallery-wrapper">
                {% for photo in photos %}
                    <a
                        href="{{ photo.img_l }}"
                        data-toggle="lightbox"
                        data-gallery="multiimages"
                        class="photo-thumbnail"
                        data-title="{{ photo.name }}"
                        data-parent=".gallery-wrapper"
                        {# djlint:off #}
                        data-footer='<p class="caption">{{ photo.caption or '' | safe }}</p><p>Taken by <a href="/people/{{ photo.athlete_id }}" class="hover-underline">{{ photo.display_name }}</a></p>'
                        style="background-image: url('{{ photo.img_l }}'), url('/img/logo-blue.png');"
                        {# djlint:on #}
                        >
                    </a>
                {% endfor %}
            </div>
            <nav class="d-flex justify-content-center">
                {# djlint:off H023#}
                <ul class="pagination">
                    <li class="page-item {% if page < 2 %}disabled{% endif %}">
                        <a class="page-link"
                           href="{{ hashtag_notag }}?view=photos&page={{ page-1 }}{% if datestr %}&date={{ datestr }}{% endif %}"><span aria-hidden="true">&larr;</span> Newer</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link">Page {{ page }} of {{ total_pages }}</a>
                    </li>
                    <li class="page-item {% if page >= total_pages %}disabled{% endif %}">
                        <a class="page-link"
                           href="{{ hashtag_notag }}?view=photos&page={{ page+1 }}{% if datestr %}&date={{ datestr }}{% endif %}">Older <span aria-hidden="true">&rarr;</span></a>
                    </li>
                </ul>
                {# djlint:on #}
            </nav>
        {% else %}
            <div class="my-4 text-muted alert alert-info">
                No photos found.
            </div>
        {% endif %}
    {% elif view == 'map' %}
        <div class="wide-aspect" id="map">
        </div>
    {% endif %}
{% endblock %}
{% block foot %}
    {% if view == 'map' %}
        <script type="text/javascript">
  $(function () {
    create_ride_map(
      "map",
      "/api/all/trackmap.json?hashtag={{hashtag_notag}}",
      null,
      true
    );
  });
        </script>
    {% elif view == 'photos' %}
        <script type="text/javascript">
    $("#date-picker").on("change", (e) => {
      const date = e.target.value;
      document.location.search = date ? `?date=${date}` : "";
    });
        </script>
    {% endif %}
{% endblock %}
