{% extends "base.html" %}
{% block content %}
<div class="panel panel-default">
	<div class="panel-heading">Kidsathlon</div>
	<div class="panel-body">
		<p class="lead">Leaderboard for Kidsathlon</p>
      <p>Your Kidsathlon score is miles #withkid plus miles #kidical, provided both are non-zero. If you've only done one or the other, you get no kidsathlon score. Sorry.</p>
<p>Questions can go to the <a href="http://bikearlingtonforum.com/showthread.php?14004-FS-2019-Kid-Related-Pointless-Prizes">forum post for the prize</a><p>
    <table class="table table-condensed">
	<tr><th>Rank</th><th>Athlete</th><th>Kidical</th><th>Withkid</th><th>Kidsathlon Score</th></tr>
{% for a, b, c, d, e in data.tdata %}
	<tr {% if a==1873089 %} class="danger" {% endif %}>
		<td>{{loop.index}}</td>
		<td><a href="/people/{{a}}">{% if a==1873089 %}Ineligible Former Champion {% endif %}{{b}}</a></td>
		<td>{{c| round(1)}}</td>
      <td>{{d| round(1)}}</td>
      <td>{{e| round(1)}}</td>
		</tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}
