{% extends "base.html" %}
{% block content %}
<div class="panel panel-default">
	<div class="panel-heading">Michigander - You call THAT a snow day?! - Prize</div>
	<div class="panel-body">
		<p>Riders who have ridden on the most offcial OPM snow days. Ties to be broken by total mileage.</p>
		<p>Current official snow days are NONE so we're using Michigan's birthday: January 26th.</p>
<table class="table table-condensed">
	<tr><th>Rank</th><th>Player</th><th>Days ridden</th><th>Distance</th></tr>
{% for a, b, c, d in data %}
	<tr>
		<td>{{loop.index}}</td>
		<td><a href="http://www.strava.com/athletes/{{ a }}" target="_blank">{{b}}</a></td>
		<td>{{c}}</td>
		<td>{{d | round(1)}}</td>
		</tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}
