{% extends "base.html" %}
{% block content %}
<div class="panel panel-default">
	<div class="panel-heading">Pointless Kids</div>
	<div class="panel-body">
	<p class="lead">Leaderboard for pointless kids</p>
	<p>When you ride with your kids (that is, they are riding with you on their own bikes), tag your ride #withkid[kid codename] and they'll show up here. If you ride with multiple kids at once, multiple hashtags are supported.</p>
	<p>Keep it consistent and make your name unique. For example, jrenaut's kids picked new names for themselves this year - pepper8cheez and socr4evr11, so when he rides with one or both of them, he adds #withkidpepper8cheez or #withkidsocr4evr11, as appropriate. Keep in mind if you ride with another BAFS parcipant AND your kid, make sure only one of you tags the kid, or else the miles will be double counted.</p>
	<p>Questions can go to the <a href="https://www.bikearlingtonforum.com/forums/topic/pointless-kid-leaderboard/">forum post for the prize</a></p>
	<p>For the purpose of this contest, a kid is defined as a human being younger than 14 years old. Older than that and they can have their own Strava account.</p>
    	<p>This prize is in search of a new sponsor since jrenaut is absolutely the worst prize sponsor ever and never actually gives prizes. (jrenaut wrote this, you can ask him)</p>
		<table class="table table-condensed">
	<tr><th>Rank</th><th>Pointless Kid</th><th>Distance</th></tr>
{% for a, b in data.tdata %}
	<tr>
		<td>{{loop.index}}</td>
		<td>{{a}}</td>
		<td>{{b| round(1)}}</td>
		</tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}
