{% extends "base.html" %}
{% block content %}
    <h2 class="mb-3">
        Ross Hill Loop Rides
    </h2>
    <p>
        Number of <a href="https://www.strava.com/segments/1072528">Ross Hill Loop</a> or
        <a href="https://www.strava.com/segments/4934241">RCP Loop</a> rides, ignoring
        double dips.
    </p>
    {% set url = "https://www.bikearlingtonforum.com/forums/topic/pointless-prize-ross-hill-loop-2024" %}
    {% set sponsor = "" %}
    <p>
        See: <a href="{{ url }}">{{ url }}</a>
    </p>
    {% if sponsor %}
        <p>
            Sponsored by <em><a href="https://www.bikearlingtonforum.com/forums/users/{{ sponsor }}/">{{ sponsor }}</a></em>.
        </p>
    {% else %}
        <p class="text-muted">
            This ride has no sponsor and is completely pointless.
        </p>
    {% endif %}
    <div class="card">
        <div class="card-body py-1">
            <table class="table table-condensed">
                <tr>
                    <th class="number rank">
                        Rank
                    </th>
                    <th>
                        Rider
                    </th>
                    <th class="number">
                        Loops
                    </th>
                    <th class="number">
                        Average Time
                    </th>
                </tr>
                {% for a, b, d, e in data.tdata %}
                    <tr class="{{ a | myself }}">
                        <td class="number rank">
                            {{ loop.index }}
                        </td>
                        <td>
                            {% if a==48773683 or a == 120519 %}
                                🚫 <a href="/people/{{ a }}" class="hover-underline"><strike>{{ b }}</strike></a>
                            {% else %}
                                <a href="/people/{{ a }}" class="hover-underline">{{ b }}</a>
                            {% endif %}
                        </td>
                        <td class="number">
                            {{ d }}
                        </td>
                        <td class="number">
                            {{(e / d / 60) | int}}m {{((e / d) % 60) | int}}s
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
