{% extends "base.html" %}
{% block head %}
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawIndivChart);


	  function drawIndivChart() {
	      
	      var jsonData = $.ajax({
	          url: "/chartdata/indiv_elev_gain",
	          dataType:"json",
	          async: false // ... really?
	          }).responseText;
	          
	      // Create our data table out of JSON data loaded from server.
	      var data = new google.visualization.DataTable(jsonData);
	
	      // Instantiate and draw our chart, passing in some options.
	      var chart = new google.visualization.BarChart(document.getElementById('chart_indiv_leaderboard'));
	      
	      var options = {'title':'Individual Leaderboard',
                       'width':800,
                       'height':1600,
                       'legend': {'position': 'none'},
                       'chartArea' :{'left':200,'top':70,'width': 550,'height': 1500}};
                       
	      chart.draw(data, options);
	      
	  }
	  

	  </script>
{% endblock %}
	  
{% block content %}
  	<h1>Individual Elevation Gain</h1>
    <!--Div that will hold our leaderboard chart-->
    <div id="chart_indiv_leaderboard"></div>
    
{% endblock %}
