{% extends "base.html" %}
{% block title %}
    Individual Points ({{ tribe }})
{% endblock %}
{% block content %}
    <span class="float-end mt-1">
        {% if g.logged_in %}
            <a href="/tribes/my">My Tribes</a>
        {% else %}
            Log in to join tribes
        {% endif %}
    </span>
    <h2 class="mb-3">
        Individual Points ({{ tribe }})
    </h2>
    <ol>
        {% for indiv_row in indiv_rows %}
            <li class="{{ 'large' if loop.index <= 10 else '' }} {{ indiv_row._mapping['athlete_id'] | myself }}">
                <a href="/people/{{ indiv_row._mapping['athlete_id'] }}"
                   class="hover-underline">{{ indiv_row._mapping['athlete_name'] }}</a>
                –
                <strong>{{ indiv_row._mapping['total_score']|round|int|groupnum }}</strong>
                points ({{ indiv_row._mapping['days_ridden'] }} day{{
                indiv_row._mapping['days_ridden']|ess }}, {{
                indiv_row._mapping['total_distance']|round|int|groupnum }} miles) – {{
                indiv_row._mapping['team_name'] }}
            </li>
        {% endfor %}
    </ol>
{% endblock %}
