{% extends "base.html" %}
{% block content %}
    <span class="float-end mt-1">
        <a href="/tribes/leaderboard">Cancel</a>
    </span>
    <h2 class="mb-3">
        My Tribes
    </h2>
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% for group in tribal_groups %}
                    <h4>
                        {{ group.name }}
                    </h4>
                    <select name="{{ group.id }}" class="form-control big-bottom">
                        <option>
                        </option>
                        {% for tribe in group.tribes %}
                            {% if tribe == my_tribes[group.name] %}
                                <option selected>
                                    {{ tribe }}
                                </option>
                            {% else %}
                                <option>
                                    {{ tribe }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% endfor %}
                <button type="submit" class="btn btn-primary px-4">
                    Submit
                </button>
            </form>
        </div>
    </div>
{% endblock %}
