{% extends "base.html" %}
{% block content %}
    <div class="card">
        <h5 class="card-header">
            My Tribes
            <span class="float-end">
                <a href="/tribes/leaderboard">Cancel</a>
            </span>
        </h5>
        <div class="card-body">
            <form method="post">
                {% for group in tribal_groups %}
                    <h4>
                        {{ group.name }}
                    </h4>
                    <select name="{{ group.name }}" class="form-control big-bottom">
                        {% for tribe in group.tribes %}
                            {% if tribe == my_tribes[group.name] %}
                                <option selected>
                                    {{ tribe }}
                                </option>
                            {% else %}
                                <option>
                                    {{ tribe }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% endfor %}
                <button type="submit" class="btn btn-primary center-block extra-padding">
                    Submit
                </button>
            </form>
        </div>
    </div>
{% endblock %}
