{% extends "base.html" %}
{% block foot %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.css" integrity="sha384-ztqQYuF0ztQOO26+6hbRTtSQ6HGLosUJRQI9kx0L9OpJiESTtsiriiQNqwBIBl9a" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.8.0/d3.min.js" integrity="sha384-Nth41CoN2s0hj2li43h7cs5a1J0zroMLa7ugSGFSdWJMF1OuKrJwZaritPHBnk3E" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.js" integrity="sha384-xOzJ6ocROuPNeY/PUgXyXgiPyvvePCiWVkKXro4Lb1gWoGJOtrJw+zrpf3NBx1B5" crossorigin="anonymous"></script>
    <script type="text/javascript">
    $(function () {
        function requestData() {
            $.ajax({
                url: '/chartdata/distance_by_lowtemp',
                success: function(data) {
                  var chart = c3.generate({
                    data: {
                      x: 'x',
                      columns: [
                        ['x'].concat(data.data.map(val => new Date(val.date.year, val.date.month - 1, val.date.day))),
                        ['distance'].concat(data.data.map(val => val.distance)),
                        ['low_temp'].concat(data.data.map(val => val.low_temp))
                      ],
                      type: 'bar',
                      types: {
                        low_temp: 'spline'
                      },
                      axes: {
                        low_temp: 'y2'
                      },
                      names: {
                        distance: 'Total Distance',
                        low_temp: 'Temperature'
                      },
                    },
                    axis: {
                      x: {
                        type: 'timeseries',
                        tick: {
                          format: '%-m/%-d'
                        }
                      },
                      y: {
                        label: {
                          text: 'Total Distance',
                          position: 'outer-middle'
                        },
                        tick: {
                          format: (d) => Math.round(d) + ' mi'
                        }
                      },
                      y2: {
                        show: true,
                        label: {
                          text: 'Temperature',
                          position: 'outer-middle'
                        },
                        tick: {
                          format: (d) => d + '°F'
                        }
                      }
                    }
                  });
                },
                cache: false
            });
        }

        requestData();
});
    </script>
{% endblock %}

{% block content %}

    <!--Div that will hold our leaderboard chart-->
    <div class="text-center"><strong>Miles Logged vs. Avg. Low Temp</strong></div>
    <div class="text-center text-muted small">Relationship between total number of miles logged riders and the average low daily temperatures.</div>
    <div id="chart" style="width:100%; height:400px;"></div>

{% endblock %}
