{% extends "base.html" %}
{% block content %}
    <h1>
        Individual Leaderboard (Text)
    </h1>
    <p>
        This leaderboard is also available as a <a href="/leaderboard/individual">Google-charts version</a>.
    </p>
    <ol>
        {% for indiv_row in indiv_rows[:10] %}
            <li>
                <h4>
                    <a href="/people/{{ indiv_row['athlete_id'] }}">{{ indiv_row['athlete_name'] }}</a>
                    {{ indiv_row['total_score']|round|int|groupnum }} points
                </h4>
                ({{ indiv_row['days_ridden'] }} days, {{ indiv_row['total_distance']|round|int|groupnum }} miles) {{ indiv_row['team_name'] }}
            </li>
        {% endfor %}
        {% for indiv_row in indiv_rows[10:] %}
            <li>
                <a href="/people/{{ indiv_row['athlete_id'] }}">{{ indiv_row['athlete_name'] }}</a>
                <strong>{{ indiv_row['total_score']|round|int|groupnum }}</strong> points
                ({{ indiv_row['days_ridden'] }} days, {{ indiv_row['total_distance']|round|int|groupnum }} miles) {{ indiv_row['team_name'] }}
            </li>
        {% endfor %}
    </ol>
{% endblock %}
