{% extends "base.html" %}
{% block head %}
    <script type="text/javascript">
      // Load the Visualization API and the corechart package.
      google.charts.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawIndivChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.

	  function drawIndivChart() {
	      $.ajax({
	          url: "/chartdata/indiv_leaderboard",
	          dataType:"json",
	      }).done(function(jsonData) {
              // Create our data table out of JSON data loaded from server.
              var data = new google.visualization.DataTable(jsonData);

              // Instantiate and draw our chart, passing in some options.
              var chart = new google.visualization.BarChart(document.getElementById('chart_indiv_leaderboard'));
              var rows = jsonData.rows.length;

              var options = {
                  'title':'Individual Points',
                  'width':1000,
                  'height':100 + rows * 24,
                  'legend': {'position': 'none'},
                  'chartArea': {'left':200,'top':70,'width': 550,'height': rows * 24},
                  'hAxis': {'minValue': 0, 'textStyle': {'fontSize': 16}},
                  'vAxis': {'textStyle': {'fontSize': 16}}
              };

              chart.draw(data, options);
          });
      }
    </script>
{% endblock %}
{% block content %}
    <h1>
        Individual Leaderboard (Chart)
    </h1>
    <p>
        This leaderboard is also available as a <a href="/leaderboard/individual_text">text-only version</a>.
    </p>
    <!--Div that will hold our leaderboard chart-->
    <div id="chart_indiv_leaderboard" class="g-chart">
        <img src="/img/loading2-blue.gif" alt="">
        &nbsp;Loading individual leaderboard...
    </div>
{% endblock %}
