{% extends "base.html" %}
{% block head %}
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      //google.setOnLoadCallback(drawIndivChart);


	  function drawChart(api_method, label) {
	      
	      $.ajax({
	          url: "/chartdata/"+api_method,
	          dataType:"json"
		  }).done(function(jsonData) {

			  // Create our data table out of JSON data loaded from server.
			  var data = new google.visualization.DataTable(jsonData);

			  // Instantiate and draw our chart, passing in some options.
			  var chart = new google.visualization.BarChart(document.getElementById('chart_team_leaderboard'));
			  var rows = jsonData.rows.length;

			  var options = {
				  'title': "Team " + label,
				  'width': 1000,
				  'height': 100 + rows * 24,
				  'legend': {'position': 'none'},
				  'chartArea': {'left': 300, 'top': 70, 'width': 550, 'height': rows * 24},
				  'hAxis': {'textStyle': {'fontSize': 16}},
				  'vAxis': {'textStyle': {'fontSize': 16}},
			  };

			  chart.draw(data, options);
		  });
	  }
	  

	  </script>
{% endblock %}
{% block foot %}
<script type="text/javascript">
	$(function(){
	  $("#choose_api").submit(function(event) { event.preventDefault(); });	
	});
	function redraw() {
		drawChart($("#api_method").val(), $('#api_method option:selected').text());
		$("#title").val($('#api_method option:selected').text());
	}  		
</script>
{% endblock %}
{% block content %}

  	<h1 id="title">Team Leaderboards</h1>

  	<form action="#" id="choose_api">
  		<select name="api_method" id="api_method">
  			<option value="team_elev_gain" selected="selected">Elevation Gain</option>
  			<option value="team_moving_time">Time in the Saddle</option>
  			<option value="team_number_sleaze_days">Number of Sleaze (at least 1 mile, less than 2 miles) Days</option>
  			<option value="team_avg_speed">Average Speed</option>
  			<option value="team_segment/1081507">Hains Point Laps</option>
  		</select>
  		<button onclick="redraw();">Draw Chart</button>	
  	</form>
    <!--Div that will hold our leaderboard chart-->
    <div id="chart_team_leaderboard"></div>
    
{% endblock %}
