<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% block title %}Freezing Saddles{% endblock %}</title>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="/static/jquery-1.9.1.min.js"></script>
	<style type="text/css" media="screen">@import "/static/basic.css";</style>
	<style type="text/css" media="screen">@import "/static/tabs.css";</style>
	<!--
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" charset="utf-8"/>
	-->
	{% block head %}{% endblock %}
</head>

<body>
	<div id="header">
	<ul id="primary">
		<li><a href="/" class="{% if request.path == '/' %}current{% endif %}">Home</a></li>
		<li><a href="/leaderboard" class="{% if request.path.startswith('/leaderboard') %}current{% endif %}">Leaderboards</a>
			{% if request.path.startswith('/leaderboard') %}
			<ul id="secondary">
				<li><a href="/leaderboard/team">Team Points</a></li>
				<li><a href="/leaderboard/individual">Indiv Points</a></li>
				<li><a href="/leaderboard/team_various">Team (Various)</a></li>
				<li><a href="/leaderboard/individual_various">Individual (Various)</a></li>
			</ul>
			{% endif %}
		</li>
		<li><a href="/explore" class="{% if request.path.startswith('/explore') %}current{% endif %}">Data Exploration</a>
			{% if request.path.startswith('/explore') %}
			<ul id="secondary">
				<li><a href="/explore/team_cumul">Team Cumulative</a></li>
				<li><a href="/explore/indiv_elev_dist">Individual Dist/Elev/Speed</a></li>
				<li><a href="/explore/riders_by_lowtemp">Num Riders vs. Avg Low Temp</a></li>
			</ul>
			{% endif %}
		</li>
	</ul>
	</div>
	
	<div id="main">
		<div id="contents">
			{% block content %}{% endblock %}
		</div>
	</div>
	
	</body>
</html>