<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Freezing Saddles{% endblock %}</title>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/jquery-1.11.2.min.js"></script>
    <script src="/static/bootstrap-3.3.1.min.js"></script>
    <script src="/static/ekko-lightbox-min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <link rel="stylesheet" href="/static/bootstrap-3.3.1.min.css">
    <link href="/static/navbar-fixed-top.css" rel="stylesheet">
    <link href="/static/ekko-lightbox.min.css" rel="stylesheet">

    <style type="text/css">
        .top-buffer {
            margin-top:20px;
        }

        /* padding for the gallery */
        div.row > div > div.row {
            margin-bottom: 15px;
        }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/html5shiv-3.7.0.js"></script>
    <script src="/static/respond-1.3.0.min.js"></script>
    <![endif]-->
		
    {% block head %}{% endblock %}
</head>
<body>
<div class="container">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Freezing Saddles</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- <li class="{% if request.path == '/' %}active{% endif %}"><a href="/">Home</a></li> -->
                    <li class="dropdown{% if request.path.startswith('/leaderboard') %} active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Leaderboards <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/leaderboard/team_text">Team Points (Text)</a></li>
                            <li><a href="/leaderboard/team">Team Points (Chart)</a></li>
                            <li><a href="/leaderboard/individual_text">Indiv Points (Text)</a></li>
                            <li><a href="/leaderboard/individual">Indiv Points (Chart)</a></li>
                            <li><a href="/leaderboard/team_various">Team (Various)</a></li>
                            <li><a href="/leaderboard/individual_various">Individual (Various)</a></li>
                        </ul>
                    </li>

                    <li class="dropdown{% if request.path.startswith('/explore') %} active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Data Exploration <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/explore/team_cumul">Team Cumulative</a></li>
                            <li><a href="/explore/team_weekly">Team Weekly Points</a></li>
                            <li><a href="/explore/indiv_elev_dist">Individual Dist/Elev/Speed</a></li>
                            <li><a href="/explore/riders_by_lowtemp">Num Riders vs. Avg Low Temp</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% if request.path.startswith('/people') %} active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            People <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/people">People</a></li>
                            <li><a href="/people/ridedays">Ride Days</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% if request.path.startswith('/pointless') %} active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Pointless <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">(Metrics-based prizes not defined yet.)</a></li>
                            <!--
                            <li><a href="/pointless/avgspeed">Tortoise</a></li>
                            <li><a href="/pointless/avgdist">Shortest Rides</a></li>
                            -->
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if g.logged_in %}
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ session.athlete_fname }} <span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="/login">Login</a></li>
                    {% endif %}
                    <!--<li><a href="../navbar-static-top/">Static top</a></li>
                    <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
                    -->
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</div>
{% block foot %} {% endblock %}

<script type="text/javascript">
			$(document).ready(function ($) {

				// delegate calls to data-toggle="lightbox"
				$(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function(event) {
					event.preventDefault();
					return $(this).ekkoLightbox({
						onShown: function() {
							if (window.console) {
								return console.log('Checking our the events huh?');
							}
						},
						onNavigate: function(direction, itemIndex) {
							if (window.console) {
								return console.log('Navigating '+direction+'. Current item: '+itemIndex);
							}
						}
					});
				});
			});
		</script>
</body>
</html>
