{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron top-buffer">
            <img src="/assets/img/logo-blue-sm.png" style="float:left;" />
            <h1>Freezing Saddles</h1>

            <p>
                The official leaderboard and data analysis charts for the 2016 BikeArlington Freezing Saddles
                competition.
            </p>

            <div class="pull-right">
                <a class="btn btn-primary" href="/leaderboard/team_text">Team Leaderboard (Text)</a>
                <a class="btn btn-primary" href="/leaderboard/team">Team Leaderboard (Charts)</a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <h1><span class="label label-default">{{team_count}} teams.  {{contestant_count}} contestants.</span></h1>

    <h1><span class="label label-default">{{total_rides|groupnum}} rides.  {{total_hours|groupnum}} hours.  {{total_miles|groupnum}} miles ridden.</span>
    </h1>

    <h2><span class="label label-primary">{{sub_freezing_hours|groupnum}} hours below freezing.</span>
        <span class="label label-success">{{rain_hours|groupnum}} hours in the rain.</span>
        <span class="label label-info">{{snow_hours|groupnum}} hours in the snow.</span></h2>
</div>
<div>&nbsp;</div>
<div class="row gallery-wrapper">

    {% for photo in photos %}
    <div class="col-lg-2 col-md-3 col-xs-4 thumb">

        <a href="{{ photo.img_l }}" data-toggle="lightbox" data-gallery="multiimages"
           data-title="{{ photo.caption if photo.caption != None }}" data-parent=".gallery-wrapper"
           data-footer="Taken by {{ photo.ride.athlete.display_name }}.  {% if photo.ref %}<a href='{{photo.ref}}' target='_blank'>View in Instagram</a>{% endif %}">
            <div class="center-cropped"
                 style="background-image: url('{{ photo.img_t }}');">
                <img src="http://placehold.it/120x120"/>
            </div>
        </a>

    </div>
    {% endfor %}
    <a href="{{ url_for('photos.index') }}" class="glyphicon glyphicon-chevron-right more-images-link"></a>

</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Rides tracked using <a href="http://strava.com">strava.com</a>.
            <br/><a href="http://strava.com"><img src="/assets/img/strava-sm.png"/></a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Weather data sourced from <a href="http://wunderground.com">wunderground.com</a>.
            <br/><a href="http://wunderground.com"><img src="/assets/img/wunderground-sm.jpg"/></a>
        </p>
    </div>
</div>
<p></p>

<p>
    Inspired by <a href="https://github.com/ronwalf/ba-winter-challenge">original scoreboard by ronwalf</a>.
    BikeArlington Freezing Saddles software is open-source and <a href="https://github.com/hozn/bafs">available on
    Github</a>.
</p>
{% endblock %}
