{% extends "base.html" %}
{% set bafs_is_live = true %}
{% block head %}
<style>
.section{
	padding-bottom:2em;
}
.really-big{
	font-size: 2em;
}
.pretty-big{
	font-size: 1.8em;
}
.really-big span{
	white-space: normal;
}
.responsiveCal {
position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}
.responsiveCal iframe {
position: absolute; top:0; left: 0; width: 100%; height: 100%;
}
</style>
{% endblock %}
{% block beforenav %}
{% for photo in photos %}
  <div class="modal fade pop-up-{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myLargeModalLabel-1">{{photo.caption|default("Untitled", true)}}</h4>
        </div>
        <div class="modal-body">
        <img src="{{photo.img_l}}" class="img-responsive img-rounded center-block" alt="{{photo.caption}}">
        Taken by {{ photo.ride.athlete.display_name }}.  {% if photo.ref %}<a href='{{photo.ref}}' target='_blank'>View in Instagram</a>{% endif %}
		</div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal mixer image -->
{% endfor %}
{% endblock %}
{% block content %}
<div id="sect-main" class="row section">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
	        <div class="jumbotron top-buffer">
	            <img src="/assets/img/logo-blue-sm.png" class="pull-left" />
	            <h1>Freezing Saddles</h1>
							<h3>Ride bike. Earn points.</h3>
	            <p>
	                The official leaderboard and data analysis charts for the 2018 BikeArlington Freezing Saddles
	                competition.
	            </p>
				<p>
					<div class="btn-group" role="group" aria-label="Team Points">
	                    <a href="/leaderboard/team" class="btn btn-primary">Official Points Leaderboard</a>
						<a href="/leaderboard/team_text" class="btn btn-primary">Official Points Leaderboard (text)</a>
	                </div>
				</p>
	        </div>
		</div>
	</div>
</div>
</div>
{% if not bafs_is_live %}
<div id="sect-cal" class="row section">
	<div class="col-md-12">
		<h3>The shiny new Freezing Saddles competition for the upcoming winter hasn't started yet, but there are still bike rides going on. You should go for a bike ride.</h3>
		<div class="responsiveCal">
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vss0aloebi85u9dc9shihueg0o%40group.calendar.google.com&amp;color=%2342104A&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
 </div>
</div>
</div>
{% endif %}
<!--
<div id="sect-leaderboards" class="row section">
<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<span class="pull-left">Team</span>
	            <div class="btn-toolbar" role="toolbar" aria-label="Team Leaderboards">
	                <div class="btn-group" role="group" aria-label="Team Points">
	                    <a href="/leaderboard/team_text" class="btn btn-primary">Points (text)</a>
	                    <a href="/leaderboard/team" class="btn btn-primary">Points (chart)</a>
	                </div>
	                <div class="btn-group" role="group" aria-label="Team Alternate">
	                    <a href="/alt_scoring/team_riders" class="btn btn-primary">Ride Days</a>
	                    <a href="/alt_scoring/team_daily" class="btn btn-primary">Win Days</a>
	                    <a href="/alt_scoring/team_sleaze" class="btn btn-primary">Sleaze Rides</a>
	                    <a href="/alt_scoring/team_hains" class="btn btn-primary">Hains Point Laps</a>
	                </div>
	            </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<span class="pull-left">Individual</span>
	            <div class="btn-toolbar" role="toolbar" aria-label="Individual Leaderboards">
	                <div class="btn-group" role="group" aria-label="Individual Points">
	                    <a href="/leaderboard/individual_text" class="btn btn-primary">Points (text)</a>
	                    <a href="/leaderboard/individual" class="btn btn-primary">Points (chart)</a>
	                </div>

	                <div class="btn-group" role="group" aria-label="Individual Alternate">
	                    <a href="/people/ridedays" class="btn btn-primary">Ride Days</a>
	                    <a href="/alt_scoring/indiv_sleaze" class="btn btn-primary">Sleaze Rides</a>
	                    <a href="/alt_scoring/indiv_hains" class="btn btn-primary">Hains Point Laps</a>
	                    <a href="/alt_scoring/indiv_freeze" class="btn btn-primary">Freeze Points</a>
	                </div>
	            </div>
			</div>
		</div>
	</div>
</div>
-->

<div id="sect-stats" class="row section">
	<div class="col-md-12">
		<p class="really-big"><span class="label label-default">{{team_count}} teams.  {{contestant_count}} contestants.</span></p>

	    <p class="really-big"><span class="label label-default">{{total_rides|groupnum}} rides.  {{total_hours|groupnum}} hours.  {{total_miles|groupnum}} miles ridden.</span>
	    </p>

	    <p class="pretty-big"><span class="label label-primary">{{sub_freezing_hours|groupnum}} hours below freezing.</span>
	        <span class="label label-success">{{rain_hours|groupnum}} hours in the rain.</span>
	        <span class="label label-info">{{snow_hours|groupnum}} hours in the snow.</span>
		</p>
	</div>
</div>
<div id="sect-photos" class="row section">
	<div class="col-md-12">
		<div class="row">
		{% for photo in photos %}
	    <div class="col-lg-2 col-md-3 col-xs-4">
	<a href="#" data-toggle="modal" data-target=".pop-up-{{photo.id}}">
<img src="{{ photo.img_l }}" width="150" class="img-responsive img-rounded center-block" alt="{{photo.caption}}">
</a>
  </div>
	    {% endfor %}
	    <!-- <a href="{{ url_for('photos.index') }}" class="glyphicon glyphicon-chevron-right more-images-link pull-right"></a> -->
		<div class="row" >
			<div class="col-md-12" style="padding-top:2em;">
				<a href="{{ url_for('photos.index') }}" class="btn btn-primary btn-lg pull-right clearfix">More Photos<span class="glyphicon glyphicon-chevron-right"></span></a>
</div></div></div>
	</div>
</div>
{% if bafs_is_live %}
<div id="sect-cal" class="row section">
	<div class="col-md-6">
		<div class="responsiveCal">
<iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vss0aloebi85u9dc9shihueg0o%40group.calendar.google.com&amp;color=%2342104A&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="400" frameborder="0" scrolling="no"></iframe></div>
</div>
</div>
{% endif %}
<div id="sect-credits" class="row section">
	<div class="col-md-12">
			<div class="row">
			    <div class="col-md-12">
			        <p>
			            Rides tracked using <a href="http://strava.com">strava.com</a>.
			            <br/><a href="http://strava.com"><img src="/assets/img/strava-sm.png"/></a>
			        </p>
			    </div>
			</div>
        <div class="row">
			<div class="col-md-12">
			<p>
            Weather data sourced from <a href="http://wunderground.com">wunderground.com</a>.
            <br/><a href="http://wunderground.com"><img src="/assets/img/wunderground-sm.jpg"/></a>
        </p>
	</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<p>
		    Inspired by <a href="https://github.com/ronwalf/ba-winter-challenge">original scoreboard by ronwalf</a>.
		    BikeArlington Freezing Saddles software is open-source and <a href="https://github.com/hozn/bafs">available on
		    Github</a>.
		</p>
	</div>
	</div>
	</div>
</div>
{% endblock %}
{% block foot %}
<script type="text/javascript">
$(document).ready(function(){

});
</script>
{% endblock %}
