{% extends "base.html" %}
{% block content %}
<h1>Freezing Saddles Competition</h1>
<p>
	This is a collection of data analysis charts for the 2013 BikeArlington Freezing Saddles competition.
</p>
<p>
	<strong>This is not the official leaderboard.</strong> You can view the official leaderboard here:
	<a href="http://www.cs.umd.edu/~ronwalf/2013/freezing-saddles/">http://www.cs.umd.edu/~ronwalf/2013/freezing-saddles/</a>
</p>
<p>
	But since you're here, you probably want to <a href="/leaderboard">check out the team leaderboard</a>.
</p>

<p>
	Weather data sourced from <a href="http://wunderground.com">wunderground.com</a>.
	<br/><a href="http://wunderground.com"><img src="/static/wunderground-sm.jpg" /></a>
</p>
		
{% endblock %}
