{% extends "base.html" %}
{% block head %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.6.0/dist/bootstrap-table.min.css"
          integrity="sha256-SAChiSCzuX+r8fGO1EDy38z7Bcj1Qd2VUS+64BlFSIM="
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>
    <script src="/js/ride-map.js"></script>
    <script type="text/javascript">
      // Load the Visualization API and the corechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawDailyPointsChart);
      google.setOnLoadCallback(drawWeeklyPointsChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.

      function drawDailyPointsChart() {
	      $.ajax({
	          url: "/chartdata/user_daily_points/{{ session.get('athlete_id') }}",
	          dataType: "json"
          }).done(function(jsonData) {
              drawPointsChart(jsonData, 'chart_user_daily_points', 'Daily Points', 'Day No.');
          });
	  }

	  function drawWeeklyPointsChart() {
	      $.ajax({
	          url: "/chartdata/user_weekly_points/{{ session.get('athlete_id') }}",
	          dataType: "json"
          }).done(function(jsonData) {
              drawPointsChart(jsonData, 'chart_user_weekly_points', 'Weekly Points', 'Week No.');
          });
	  }

      function drawPointsChart(jsonData, element, title, hAxisTitle) {
          // Create our data table out of JSON data loaded from server.
          var data = new google.visualization.DataTable(jsonData);

          console.log(data);

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.ColumnChart(document.getElementById(element));

          var options = {
              'title': title,
              'width': 1000,
              'height': 250,
              'hAxis': {title: hAxisTitle},
              'vAxis': {title: "Points"},
              legend: {position: 'none'},
              chartArea: {left: 75, top: 50}
          };
          chart.draw(data, options);
      }

    </script>
{% endblock %}
{% block content %}
    <div class="alert alert-warning px-2 py-1 float-end">
        This page is only visible to you.
    </div>
    <h2 class="clearfix">
        Ride data for {{ session.athlete_fname }}
    </h2>
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs mb-3" role="tablist">
            <li role="presentation" class="nav-item">
                <a href="#home"
                   class="nav-link active"
                   aria-controls="home"
                   role="tab"
                   data-bs-toggle="tab">My Rides</a>
            </li>
            <li role="presentation" class="nav-item">
                <a href="#profile"
                   class="nav-link"
                   aria-controls="profile"
                   role="tab"
                   data-bs-toggle="tab">My Daily Points</a>
            </li>
            <li role="presentation" class="nav-item">
                <a href="#messages"
                   class="nav-link"
                   aria-controls="messages"
                   role="tab"
                   data-bs-toggle="tab">My Weekly Points</a>
            </li>
            <li role="presentation" class="nav-item">
                <a href="#map"
                   id="map-link"
                   class="nav-link"
                   aria-controls="map"
                   role="tab"
                   data-bs-toggle="tab">My Ride Map</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <table id="table-rides">
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <div id="chart_user_daily_points">
                    <img src="/img/loading2-blue.gif" alt="">
                    &nbsp;Loading daily points...
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">
                <div id="chart_user_weekly_points">
                    <img src="/img/loading2-blue.gif" alt="">
                    &nbsp;Loading weekly points...
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="map">
                <div id="track-map" style="aspect-ratio: 1.333;">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block foot %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.6.0/dist/bootstrap-table.min.js"
            integrity="sha256-I+994H7NziIk5lIzMW+m7F6Iga56kmy34rpHhd8wKww="
            crossorigin="anonymous"></script>
    <script type="text/javascript">
	function stampFormatter(value, row) {
        var options = {
            year: "numeric",
            month: "numeric",
            day: "numeric",
        }
        var date = new Date(row.start_date)
        return Intl.DateTimeFormat("en", options).format(date);
	}

	function movingTimeFormatter(value, row) {
        // Thanks https://stackoverflow.com/a/58531661/424301
        // invalid for activities longer than a day though
        return new Date(row.moving_time*1000).toISOString().slice(11,19);
	}

	function rideFormatter(value, row) {
		return "<a href=\"https://www.strava.com/activities/"+row.id+"\">" + value + "</a>";
	}

	function photosFormatter(value, row) {
		return { disabled: true, checked: row.photos_fetched }
	}

	function temperatureFormatter(value, row) {
        if (value != null && typeof value === "number") {
            // Thanks https://stackoverflow.com/a/53378133/424301
            return value.toLocaleString(undefined, { maximumFractionDigits: 1, minimumFractionDigits: 1 });
        } else {
            return "🌞🤷☃️"; // sun, shrug, snowman
        }
	}

	function refetchPhotosForRide(rideId) {
		$.ajax({
			url: "/my/refetch_ride_photos",
			type: "POST",
			data: {id: rideId},
			success: function (data) {
				refreshTable();
			},
			error: function (xhr, status, errorThrown) {
				alert("There was an error updating ride. " + errorThrown);
			},
			dataType: "json"
		});
	}

	function refetchFormatter(value, row) {
		if (row.photos_fetched) {
			return "<a href=\"#\" onclick=\"refetchPhotosForRide("+value+")\">refetch</a>";
		}
	}

	function refreshTable() {
		$table.bootstrapTable('refresh', { url: '/my/rides.json' });
	}


	$(function() {

		$table = $('#table-rides').bootstrapTable({
			method: "get",
			url: "/my/rides.json",
			striped: true,
			checkboxHeader: false,
			showColumns: false,
			columns: [
				{
					field: "photos_fetched",
					title: "Photos Fetched",
					align: "center",
					checkbox: true,
					formatter: photosFormatter,
				},
				{
					field: "id",
					title: "Refetch Photos?",
					sortable: true,
					align: "center",
					formatter: refetchFormatter
				},
				{
					field: "name",
					title: "Summary",
					sortable: true,
					formatter: rideFormatter
				},
				{
					field: "start_date",
					title: "Date",
					sortable: true,
					align: "right",
					formatter: stampFormatter
				},
				{
					field: "moving_time",
					title: "Duration",
					sortable: true,
					align: "right",
					formatter: movingTimeFormatter
				},
				{
					field: "avg_temp",
					title: "Avg Temp (&#8457;)",
					align: "right",
					sortable: true,
					formatter: temperatureFormatter
				}
			]

		});

		$('#map-link').one('click', () => {
			create_ride_map('map', '/api/my/trackmap.json', 'red');
		});
	});
    </script>
{% endblock %}
