{% extends "base.html" %}
{% block head %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.css" integrity="sha384-fuVQAFcapNt186pSM9/Ah9HzxyJ82xlqLcRuQmASn5PGL6aTtF/hcSCqKnKu/rDQ" crossorigin="anonymous">

<script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawCharts);

      // Callback that creates and populates a data table,
      // instantiates the chart, passes in the data and
      // draws it.

      function drawCharts() {
	      $.ajax({
	          url: "/chartdata/user_daily_points/{{ session.get('athlete_id') }}",
	          dataType: "json"
          }).done(function(jsonData) {
              drawPointsChart(jsonData, 'chart_user_daily_points', 'Daily Points', 'Day No.');
              drawPointsChart(jsonData, 'chart_user_weekly_points', 'Weekly Points', 'Week No.');
          });
      }

      function drawPointsChart(jsonData, element, title, hAxisTitle)
          // Create our data table out of JSON data loaded from server.
          var data = new google.visualization.DataTable(jsonData);

          console.log(data);

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.ColumnChart(document.getElementById(element));

          var options = {
              'title': title,
              'width': 1000,
              'height': 250,
              'hAxis': {title: hAxisTitle},
              'vAxis': {title: "Points"},
              legend: {position: 'none'},
              chartArea: {left: 75, top: 50}
          };
          chart.draw(data, options);
	  }

	  </script>
{% endblock %}

{% block content %}


<div class="row"><div class="col-md-12"><h2>Ride data for {{ session.athlete_fname }}</h2></div></div>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">My Rides</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">My Daily Points</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">My Weekly Points</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
		<table id="table-rides"></table>
	</div>
    <div role="tabpanel" class="tab-pane" id="profile">
		<div id="chart_user_daily_points"></div>
	</div>
    <div role="tabpanel" class="tab-pane" id="messages">
		<div id="chart_user_weekly_points"></div>
	</div>
  </div>

</div>

{% endblock %}

{% block foot %}
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.js" integrity="sha384-XzG6fkTWfBdkqo/0fud7EdAH6saZWQH46UMq/cFc++2Xkhy5+98u/N2UJQ/lM3Q+" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js" integrity="sha384-aQgnUSsW4D+imRFZ/dILN0wXp3MGO6RE3ccC/gZHr6BQzvhwzD+Bzon5C+kO3NHQ" crossorigin="anonymous">
<script type="text/javascript">

	function stampFormatter(value, row) {
		return moment(row.start_date).calendar();
	}

	function movingTimeFormatter(value, row) {
		return moment.duration({seconds: row.moving_time}).humanize();
	}

	function rideFormatter(value, row) {
		return "<a href=\"https://www.strava.com/activities/"+row.id+"\">" + value + "</a>";
	}

	function photosFormatter(value, row) {
		return { disabled: true, checked: row.photos_fetched }
	}

	function refetchPhotosForRide(rideId) {
		$.ajax({
			url: "/my/refetch_ride_photos",
			type: "POST",
			data: {id: rideId},
			success: function (data) {
				refreshTable();
			},
			error: function (xhr, status, errorThrown) {
				alert("There was an error updating ride. " + errorThrown);
			},
			dataType: "json"
		});
	}

	function refetchFormatter(value, row) {
		if (row.photos_fetched) {
			return "<a href=\"#\" onclick=\"refetchPhotosForRide("+value+")\">refetch</a>";
		}
	}

	function refreshTable() {
		$table.bootstrapTable('refresh', { url: '/my/rides.json' });
	}

	$(function() {

		moment.locale('en', {
			calendar: {
				lastDay: '[Yesterday] LTS',
				sameDay: 'LTS',
				nextDay: '[Tomorrow] LTS',
				lastWeek: 'ddd LTS',
				nextWeek: '[next] ddd LTS',
				sameElse: 'L LTS'
			}
		});

		$table = $('#table-rides').bootstrapTable({
			method: "get",
			url: "/my/rides.json",
			striped: true,
			checkboxHeader: false,
			showColumns: false,
			columns: [
				{
					field: "photos_fetched",
					title: "Photos Fetched",
					checkbox: true,
					formatter: photosFormatter,
				},
				{
					field: "id",
					title: "Refetch Photos?",
					sortable: true,
					align: "center",
					formatter: refetchFormatter
				},
				{
					field: "name",
					title: "Summary",
					sortable: true,
					formatter: rideFormatter
				},
				{
					field: "start_date",
					title: "Date",
					sortable: true,
					formatter: stampFormatter
				},
				{
					field: "moving_time",
					title: "Duration",
					sortable: true,
					formatter: movingTimeFormatter
				},
				{
					field: "avg_temp",
					title: "Avg Temp (&#8457;)",
					sortable: true
				}
			]

		});

	});

</script>
{% endblock %}
