{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
	<h1>Join the Competition!</h1>
	<p class="lead">
		In order to count your ride statistics, we need you to authorize the Freezing Saddles application
		to access (read) your Strava data.
	</p>
	<p>
		Login via <em>Connect with Strava</em> and you can also view personalized competition information.
	</p>
	<p>
	<div class="radio">
		<label>
			<input type="radio" name="scope" id="public-scope" value="{{ public_authorize_url }}" checked="checked">
			Only allow Freezing Saddles to read my public activities.
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="scope" id="private-scope" value="{{ private_authorize_url }}">
			Allow Freezing Saddles to also read (and count points for) activities marked "private".
		</label>
	</div>
	</p>
	<p>
		<a class="btn btn-lg p-0" href="#" role="button" id="connect-strava" style="margin-left: -.35rem; margin-top: -.25rem">
			<img src="/img/btn_strava_connectwith_orange.svg" style="height: 4rem;" />
		</a>
	</p>
</div>
{% endblock %}
{% block foot %}
<script type="text/javascript">
$(document).ready(function() {
	$('#connect-strava').click(function() {
   		if ($('#private-scope').is(':checked')) {
   			// console.log('private', $('#private-scope').val());
   			window.location.href=$('#private-scope').val();
   		} else {
   			// console.log('public', $('#public-scope').val());
   			window.location.href=$('#public-scope').val();
   		}
	});
});
</script>
{% endblock %}
