{% extends "base.html" %}
{% block content %}
<h1>Authorization Results</h1>
<p>
	<strong>Welcome, {{ athlete.firstname }}.</strong>
</p>
<p>
	You have successfully logged in to Strava and authorized the Freezing Saddles application to read your rides.
</p>
<ul>
	<li>Make sure you have registered on the <a href="{{ registration_site }}">signup sheet</a>.
	Note: for the purposes of the registration form, your Strava user ID is <strong>{{ athlete.id }}</strong>.
	</li>
{% if no_teams %}
	<li><strong>Uh-oh, something went wrong</strong>. 
	So you are a Strava athlete, we get that. Unfortunately, one of these two things is true:
		<ol>
			<li>you did not give Strava permission for us to "View your complete Strava profile".
				Without that, we can't see what clubs you belong to.</li>
{% if after_competition_start and competiton_teams_assigned %}
			<li>you are not registered with any of the configured Freezing Saddles team clubs; 
				if that is the case, <strong>You need to join a competition team Strava club.</strong> 
				Or maybe the app just needs to be updated to know about the Strava teams.
			</li>
{% else %}
<li>you are not registered with <a href="{{ main_team_page }}">this year's main Freezing Saddles team.</a> <strong>Go join the team</strong> and <strong>login again</strong>.
			</li>
{% endif %}
		</ol>
	</li>
	<li>Don't worry, your rides will count but they won't be on any leaderboards until you have joined one of the
		competition team clubs.
	</li>
{% elif multiple_teams %}
	<li><strong>Houston we have a problem</strong>.
	It looks like you joined _multiple_ Strava clubs that are registered as competition teams.  
	Here are the problematic teams (please ensure you are only a member of one of them):
		<ul>
			{% for team in multiple_teams %} 
			<li><a href="https://www.strava.com/clubs/{{ team.id }}">{{ team.name }}</a></li>
			{% endfor %}
		</ul>  
	</li>
{% else %}
	<li>
		<strong>You are registered with a team!</strong>
		You are a member of the
		<a href="https://www.strava.com/clubs/{{ team.id }}1324205"><strong>{{ team.name }}</strong></a> Strava club.
	</li>
{% if not competition_teams_assigned %}
<li><em>Later</em>, you will need to join a <strong>competition team Strava club</strong> as well; please attend the season opener Happy Hour (watch the <a href="{{ forum_site }}">forum for an announcement</a>) and check your email for updates. That will make you show up on the <a href="/leaderboard/team">team</a> <a href="/leaderboard/team_text">leaderboards</a>.
	</li>
{% endif %}
	<li>
		See <a href="/people">other folks who have registered for the event</a>.
	</li>
	<li>
		View your <a href={{ rides_url }}>personal rides page</a>.
	</li>
{% endif %}
{% endblock %}
</ul>
