<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{{ competition_title }}{% endblock %}</title>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!-- generated favicon stuff -->
    <link rel="apple-touch-icon" sizes="57x57" href="/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
    <link rel="manifest" href="/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/css/ekko-lightbox.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    {% block head %}{% endblock %}
</head>
<body>
   <div class="container-fluid">
    {% block beforenav %}
    {#
    See http://stackoverflow.com/a/13368485/217080
    put modal windows before the navbar
    #}
    {% endblock %}


    <!-- Fixed navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/img/logo-blue-tiny.png" width="20" height="20"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- <li class="{% if request.path == '/' %}active{% endif %}"><a href="/">Home</a></li> -->
                    <li>
                            <a href="http://register.freezingsaddles.com">Register</a>
                    </li>
                    <li>
                            <a href="http://bikearlingtonforum.com/forumdisplay.php?41-Freezing-Saddles-Winter-Riding-Competition">Forum</a>
                    </li>
                    <li class="dropdown{% if request.path.startswith('/leaderboard') %} active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Leaderboards <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/leaderboard/team">Team Points (Chart)</a></li>
                            <li><a href="/leaderboard/team_text">Team Points (Text)</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/alt_scoring/team_hains">Team Hains Point Laps</a></li>
                            <li><a href="/leaderboard/team_various">Team Pointless (Various)</a></li>
                            <li><a href="/alt_scoring/team_sleaze">Team Sleaze Rides</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/leaderboard/individual">Individual Points (Chart)</a></li>
                            <li><a href="/leaderboard/individual_text">Individual Points (Text)</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/alt_scoring/indiv_hains">Individual Hains Point Laps</a></li>
                            <li><a href="/alt_scoring/indiv_freeze">Individual Freeze Points</a></li>
                            <li><a href="/leaderboard/individual_various">Individual Pointless (Various)</a></li>
                            <li><a href="/alt_scoring/indiv_sleaze">Individual Sleaze Rides</a></li>

                        </ul>
                    </li>
                    <li class="{% if request.path.startswith('/photos') %} active{% endif %}">
                            <a href="/photos">Photos</a>
                    </li>

                    <li class="dropdown{% if request.path.startswith('/explore') %} active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Data Exploration <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">

                            <li><a href="/explore/distance_by_lowtemp">Distance vs. Avg Low Temp</a></li>
                            <li><a href="/explore/indiv_elev_dist">Individual Dist/Elev/Speed</a></li>
                            <li class="disabled"><a class="disabled" {# href="/explore/team_cumul" #} data-toggle="tooltip" data-placement="top" title="This leaderboard is returning soon!">Team Cumulative</a></li>
                            <li><a href="/explore/team_weekly">Team Weekly Points</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% if request.path.startswith('/people') %} active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            People <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/people">People</a></li>
                            <li><a href="/people/ridedays">Ride Days</a></li>
                            <li><a href="/people/friends">Friends of BAFS</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% if request.path.startswith('/pointless') %} active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Pointless <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/pointless/generic/adulting">Adulting</a></li>
                            <li><a href="/pointless/multisegment/alexandria">Alexandria Infrastructure</a></li>
                            <li><a href="/pointless/coffeeride">Coffee Ride</a></li>
                            <li><a href="/pointless/dirtybiker">Dirty Biker</a></li>
                            <li><a href="/pointless/hashtag/Deflated">Deflated Rides</a></li>
                            <li><a href="/pointless/hashtag/donut">Doughnut Rides</a></li>
                            <li><a href="/pointless/generic/dumpling">Dumpling Rides</a></li>
                            <li><a href="/pointless/billygoat-indiv">Climbing per Mile (Indiv)</a></li>
                            <li><a href="/pointless/billygoat-team">Climbing per Mile (Team)</a></li>
                            <li><a href="/pointless/daily_variance">Least Daily Variance</a></li>
                            <li><a href="/pointless/generic/londonbridge">London Bridge Rides</a></li>
                            <li><a href="/pointless/arlington">Loopy for Arlington</a></li>
                            <li><a href="/pointless/generic/lostdog">Lost Dog Rides</a></li>
                            <li><a href="/pointless/hashtag/bafsmetro">METRO PEAK PIONEER Rides</a></li>
                            <li><a href="/pointless/opmdays">Michigander Snow Day Rides</a></li>
                            <li><a href="/pointless/hashtag/FS2020ParkFinder">Park Finder</a></li>
                            <li><a href="/pointless/points_per_mile">Points per Mile</a></li>
                            <li><a href="/pointless/generic/poggio-indiv">POGGIO (Indiv)</a></li>
                            <li><a href="/pointless/generic/poggio-team">POGGIO (Team)</a></li>
                            <li><a href="/pointless/generic/suppleride">Supple Ride</a></li>
                            <li><a href="/pointless/avgdist">Shortest Rides</a></li>
                            <li><a href="/pointless/hashtag/FS2020tacoloco">Tacos Tacos Tacos</a></li>
                            <li><a href="/pointless/generic/tandem">Tandem Rides</a></li>
                            <li><a href="/pointless/avgspeed">Tortoise and Hare</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/pointless/kidmiles">Kidical by Mileage</a></li>
                            <li><a href="/pointless/kidsathlon">Kidsathlon</a></li>
                            <li><a href="/pointless/pointlesskids">Pointless Kids</a></li>
                            <li><a href="/pointless/hashtag/withkid">Riding with Kids</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% if request.path.startswith('/alt_scoring') %} active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Alternate Scoring <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/alt_scoring/team_riders">Ride Days by Team</a></li>
                            <li><a href="/alt_scoring/indiv_worst_day_points">Steve O's Crazy Idea</a></li>
                            <li><a href="/alt_scoring/team_daily">Team Wins by Day</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if g.logged_in %}
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ session.athlete_fname }} <span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/my/rides">My Rides</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="/login">Login</a></li>
                    {% endif %}
                    <!--<li><a href="../navbar-static-top/">Static top</a></li>
                    <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
                    -->
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/js/ekko-lightbox-min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="/js/html5shiv-3.7.0.js"></script>
<script src="/js/respond-1.3.0.min.js"></script>
<![endif]-->



<script type="text/javascript">
        $(document).ready(function ($) {

            // delegate calls to data-toggle="lightbox"
            $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function(event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function() {
                        if (window.console) {
                            return console.log('Checking our the events huh?');
                        }
                    },
                    onNavigate: function(direction, itemIndex) {
                        if (window.console) {
                            return console.log('Navigating '+direction+'. Current item: '+itemIndex);
                        }
                    }
                });
            });
        });
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
</script>


{% block foot %}
{% endblock %}

<div id="credits" class="container-fluid">
  <div class="col-md-12">
    <p>
      Inspired by <a href="https://github.com/ronwalf/ba-winter-challenge">original scoreboard by ronwalf</a>.
      BikeArlington Freezing Saddles software is open-source and <a href="https://github.com/freezingsaddles/">
      available on Github</a>.
    </p>
  </div>
</div>

</body>
</html>
