<div id="credits"
     class="container d-flex flex-column flex-md-row justify-content-between align-items-center my-3 my-lg-4 gap-3">
    <div>
        <div class="text-center text-md-start">
            <a target="_blank"
               rel="noreferrer"
               href="https://github.com/freezingsaddles/">Freezing Saddles software is available on Github</a>
            <br />
            under an
            <a target="_blank"
               rel="noreferrer"
               href="https://github.com/freezingsaddles/freezing-web/blob/main/LICENSE">Apache 2.0 open source license</a>.
            <br />
            Inspired by
            <a target="_blank"
               rel="noreferrer"
               href="https://github.com/ronwalf/ba-winter-challenge">the original scoreboard by ronwalf</a>.
        </div>
    </div>
    {# djlint:off #}
  <div>
    <a target="_blank" rel="noreferrer" href="https://strava.com">
      <img
        src="/img/api_logo_pwrdBy_strava_stack_light.svg"
        alt="Powered by Strava"
        style="height: 5.5rem; margin: -0.5rem 0"
      />
    </a>
  </div>
  <div>
    <a
      class="vc-logo"
      target="_blank"
      rel="noreferrer"
      href="https://www.visualcrossing.com/"
    >
      <img
        alt="Powered by Visual Crossing Weather"
        src="/img/PoweredByVC-WeatherLogo-RoundedRect.png"
        style="height: 4rem"
      />
    </a>
  </div>
    {# djlint:on #}
</div>
<div class="version-footer text-muted text-center mb-3 mb-lg-4 small">
    freezing-web version {{ version_string }} {{ environment }}
</div>
