<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ request.cookies.get('theme', 'light') }}">
    <head>
        <title>
            {% block title %}
                {{ competition_title }}
            {% endblock %}
        </title>
        <meta charset="utf-8" />
        <meta name="keywords"
              content="winter,bicycle,social motivation,community,freezing saddles" />
        <meta name="description"
              content="Freezing Saddles winter cycling competiton" />
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- generated favicon stuff -->
        <link rel="apple-touch-icon" sizes="57x57" href="/ico/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/ico/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/ico/apple-icon-76x76.png">
        <link rel="apple-touch-icon"
              sizes="114x114"
              href="/ico/apple-icon-114x114.png">
        <link rel="apple-touch-icon"
              sizes="120x120"
              href="/ico/apple-icon-120x120.png">
        <link rel="apple-touch-icon"
              sizes="144x144"
              href="/ico/apple-icon-144x144.png">
        <link rel="apple-touch-icon"
              sizes="152x152"
              href="/ico/apple-icon-152x152.png">
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="/ico/apple-icon-180x180.png">
        <link rel="icon"
              type="image/png"
              sizes="192x192"
              href="/ico/android-icon-192x192.png">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="/ico/favicon-32x32.png">
        <link rel="icon"
              type="image/png"
              sizes="96x96"
              href="/ico/favicon-96x96.png">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="/ico/favicon-16x16.png">
        <link rel="manifest" href="/ico/manifest.json">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
              crossorigin="anonymous">
        <link href="/css/ekko-lightbox.min.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        <!-- Google Font and Charts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
              rel="stylesheet">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block beforenav %}
            {# put modal windows before the navbar, see: #}
            {# https://stackoverflow.com/a/13368485/217080 #}
        {% endblock %}
        {% include 'base_navbar.html' %}
        <div class="container mt-3 mt-lg-4 overflow-hidden">
            {% block content %}
            {% endblock %}
        </div>
        {% include 'base_footer.html' %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"
                integrity="sha512-Znnj7n0C0Xz1tdk6ih39WPm3kSCTZEKnX/7WaNbySW7GFbwSjO5r9/uOAGLMbgv6llI1GdghC7xdaQsFUStM1w=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script src="/js/ekko-lightbox-min.js"></script>
        <script src="/js/base.js"></script>
        {% block foot %}
        {% endblock %}
    </body>
</html>
