<!DOCTYPE html>
<html xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {% block title %}
                {{ competition_title }}
            {% endblock %}
        </title>
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <!-- generated favicon stuff -->
        <link rel="apple-touch-icon" sizes="57x57" href="/ico/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/ico/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/ico/apple-icon-76x76.png">
        <link rel="apple-touch-icon"
              sizes="114x114"
              href="/ico/apple-icon-114x114.png">
        <link rel="apple-touch-icon"
              sizes="120x120"
              href="/ico/apple-icon-120x120.png">
        <link rel="apple-touch-icon"
              sizes="144x144"
              href="/ico/apple-icon-144x144.png">
        <link rel="apple-touch-icon"
              sizes="152x152"
              href="/ico/apple-icon-152x152.png">
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="/ico/apple-icon-180x180.png">
        <link rel="icon"
              type="image/png"
              sizes="192x192"
              href="/ico/android-icon-192x192.png">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="/ico/favicon-32x32.png">
        <link rel="icon"
              type="image/png"
              sizes="96x96"
              href="/ico/favicon-96x96.png">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="/ico/favicon-16x16.png">
        <link rel="manifest" href="/ico/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
              crossorigin="anonymous">
        <link href="/css/ekko-lightbox.min.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
              rel="stylesheet">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block beforenav %}
            {#
    See http://stackoverflow.com/a/13368485/217080
    put modal windows before the navbar
    #}
        {% endblock %}
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-lg bg-light sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand d-flex ps-2" href="/" title="Freezing Saddles">
                    <img src="/img/logo-blue-sm.png" style="width: 1.875rem;">
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link{% if request.path.startswith('/photos') %} active{% endif %}"
                               href="/photos">Photos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle{% if request.path.startswith('/leaderboard') or request.path.startswith('/tribes') %} active{% endif %}"
                               href="#"
                               id="leaderboardDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Leaderboards <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="leaderboardDropdown">
                                <li>
                                    <a class="dropdown-item" href="/leaderboard/team">Team Points (Chart)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/leaderboard/team_text">Team Points (Text)</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/alt_scoring/team_hains">Team Hains Point Laps</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/leaderboard/team_various">Team Pointless (Various)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/alt_scoring/team_sleaze">Team Sleaze Rides</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/leaderboard/individual">Individual Points (Chart)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/leaderboard/individual_text">Individual Points (Text)</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/alt_scoring/indiv_hains">Individual Hains Point Laps</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/alt_scoring/indiv_freeze">Individual Freeze Points</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/leaderboard/individual_various">Individual Pointless (Various)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/alt_scoring/indiv_sleaze">Individual Sleaze Rides</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/tribes/leaderboard">Bike Tribes</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle{% if request.path.startswith('/explore') %} active{% endif %}"
                               href="#"
                               id="exploredDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Data Exploration <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="exploreDropdown">
                                <li>
                                    <a class="dropdown-item" href="/explore/distance_by_lowtemp">Distance vs. Avg Low Temp</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/explore/indiv_elev_dist">Individual Dist/Elev/Speed</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/explore/team_cumul">Team Cumulative</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/explore/team_weekly">Team Weekly Points</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle{% if request.path.startswith('/pointless') %} active{% endif %}"
                               href="#"
                               id="pointlessDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Pointless <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu pointless-menu"
                                aria-labelledby="pointlessDropdown">
                                <li class="px-3 text-center small text-muted"
                                    style="font-variant: small-caps;
                                           line-height: 1">
                                    Active Pointless Prizes
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/bob">Baby on Board</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/bingo">Bicycle Bingo</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/civilwarforts">Civil War Forts</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="https://www.bikearlingtonforum.com/forums/topic/extra-mile-pointless-prize-2/">Extra Mile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/groupridegroupie">Group Ride Groupie</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/grouprideguru">Group Ride Guru</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/parks">Park Finder</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/scavhunt">Photo Scavenger Hunt</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/generic/poggio-indiv">POGGIO (Individual)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/generic/poggio-team">POGGIO (Team)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/publicartfinder">Public Art Finder</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/singlespeed">Singlespeed</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/tandem">Tandem Rides</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/tandemVI">Tandem Rides - Visually Impaired</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="px-3 text-center small text-muted"
                                    style="font-variant: small-caps;
                                           line-height: 1">
                                    Children are our Future
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/kidmiles">Kidical by Mileage</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/kidsathlon">Kidsathlon</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/pointlesskids">Pointless Kids</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/withkid">Riding with Kids</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/tandemKid">Tandem Rides - With a Kid</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="px-3 text-center small text-muted"
                                    style="font-variant: small-caps;
                                           line-height: 1">
                                    Completely Pointless
                                    <br>
                                    unsponsored but fun!
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/biathlon">Biathlon</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="https://www.bikearlingtonforum.com/forums/topic/return-of-calvinball/">Calvinball</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/billygoat-indiv">Climbing per Mile (Individual)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/billygoat-team">Climbing per Mile (Team)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/Deflated">Deflated Rides</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/donut">Doughnut Rides</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/generic/adulting">Errandeering</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/420">Expand Your Horizons</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/fire">Fire</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/FirstTimeFS">First Time Riders</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/flag">Flag</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/foodrescue">Food Rescue</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/goldenspike">Golden Spike</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/lakefinder">Lake Finder</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/daily_variance">Least Daily Variance</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/fsbooks">Little Free Library</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/generic/londonbridge">London Bridge Rides</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/arlington">Loopy for Arlington</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="https://www.bikearlingtonforum.com/forums/topic/meh-diocrity-pointless-prize-2/">Meh-diocrity</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/opmdays">Michigander Snow Day Rides</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/monuments">Monuments and Memorials</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/oldGeorge">Old Georgetown Bike Lane</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/phoneride">Phone Ride</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/pizza">Pizzaneuring</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/points_per_mile">Points per Mile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/po">Post Office</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/rosshillloop">Ross Hill Loop</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/avgdist">Shortest Rides</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/socks">Socks</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/stem">STEM</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/treats">Street Treats</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/generic/suppleride">Supple Ride</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/thetacoride">The Taco Ride</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/avgspeed">Tortoise and Hare</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/abc">Vehicle ABCs</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="https://www.bikearlingtonforum.com/forums/topic/pointless-prize-wandrer-about/">Wandrer' About</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/weekend">Weekend Warrior</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/pointless/hashtag/fswormhole">Wormholes</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle{% if request.path.startswith('/alt_scoring') %} active{% endif %}"
                               href="#"
                               id="alternateDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Alternate Scoring <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="alternateDropdown">
                                <li>
                                    <a class="dropdown-item" href="/alt_scoring/team_riders">Ride Days by Team</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/alt_scoring/indiv_worst_day_points">Steve O's Crazy Idea</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/alt_scoring/team_daily">Team Wins by Day</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle{% if request.path.startswith('/people') %} active{% endif %}"
                               href="#"
                               id="peopleDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                People <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="peopleDropdown">
                                <li>
                                    <a class="dropdown-item" href="/people">People</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/people/ridedays">Ride Days</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/people/friends">Friends of BAFS</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link"
                               href="https://www.bikearlingtonforum.com/forums/forum/freezing-saddles-winter-riding-competition/">
                                Forum
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ registration_site }}">Register</a>
                        </li>
                        {% if g.logged_in %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   id="userDropdown"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    {{ session.athlete_fname }} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end"
                                    aria-labelledby="userDropdown">
                                    <li>
                                        <a class="dropdown-item" href="/tribes/my">My Bike Tribes</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/my/rides">My Rides</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/logout">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link{% if request.path.startswith('/login') %} active{% endif %}"
                                   href="/login">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container mt-3 mt-lg-4 overflow-hidden">
            {% block content %}
            {% endblock %}
        </div>
        <div id="credits"
             class="container d-flex flex-column flex-md-row justify-content-between align-items-center my-3 my-lg-4 gap-3">
            <div>
                <div class="text-center text-md-start">
                    <a href="https://github.com/freezingsaddles/" rel="noreferrer">Freezing Saddles software is available on Github</a>
                    <br>
                    under an <a href="https://github.com/freezingsaddles/freezing-web/blob/master/LICENSE"
    rel="noreferrer">Apache 2.0 open source license</a>.
                    <br>
                    Inspired by <a href="https://github.com/ronwalf/ba-winter-challenge"
    rel="noreferrer">the original scoreboard by ronwalf</a>.
                </div>
            </div>
            <div>
                <a href="https://strava.com" rel="noreferrer">
                    <img src="/img/api_logo_pwrdBy_strava_stack_light.svg"
                         alt="Powered by Strava"
                         style="height: 5.5rem;
                                margin: -.5rem 0" />
                </a>
            </div>
            <div>
                <a class="vc-logo"
                   href="https://www.visualcrossing.com/"
                   rel="noreferrer">
                    <img alt="Powered by Visual Crossing Weather"
                         src="/img/PoweredByVC-WeatherLogo-RoundedRect.png"
                         style="height: 4rem" />
                </a>
            </div>
        </div>
        <div class="version-footer text-muted text-center mb-3 mb-lg-4 small">
            freezing-web version {{ version_string }} {{ environment }}
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/jquery-1.11.2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
        <script src="/js/ekko-lightbox-min.js"></script>
        <script type="text/javascript">
        $(document).ready(function ($) {

            // delegate calls to data-toggle="lightbox"
            $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function(event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function() {
                        if (window.console) {
                            return console.log('Checking our the events huh?');
                        }
                    },
                    onNavigate: function(direction, itemIndex) {
                        if (window.console) {
                            return console.log('Navigating '+direction+'. Current item: '+itemIndex);
                        }
                    }
                });
            });

            // https://stackoverflow.com/a/75065536
            // Set theme to the user's preferred color scheme
            function updateTheme() {
                const colorMode = window.matchMedia("(prefers-color-scheme: dark)").matches ?
                    "dark" :
                    "light";
                document.querySelector("html").setAttribute("data-bs-theme", colorMode);
            }

            // Set theme on load
            updateTheme()

            // Update theme when the preferred scheme changes
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme)

        });
        </script>
        {% block foot %}
        {% endblock %}
    </body>
</html>
