{% extends "base.html" %}
{% block content %}
    <h1>
        Discord
    </h1>
    <p>
        Please join the
        <a rel="noreferrer" target="_blank" href="{{ discord_invitation }}">Freezing Saddles Discord Server</a>
        where rides and some pointless prizes are organized. If you've already joined, you can just go straight
        to <a rel="noreferrer"
    target="_blank"
    href="https://discord.com/channels/@me">Discord</a>.
    </p>
    <p>
        If you do not already have a Discord account you will need to create one. Discord can be used
        on the Web and with their mobile app.
    </p>
</ul>
{% endblock %}
