{% extends "base.html" %}
{% block head %}
<style>
.responsiveCal {
	position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}
.responsiveCal iframe {
	position: absolute; top:0; left: 0; width: 100%; height: 100%;
}
.mini-img {
	border-radius: .5rem;
	max-width: 100%;
	max-height: 12rem;
	margin-bottom: .5rem;
}
</style>
{% endblock %}
{% block beforenav %}
{% for photo in photos %}
  <div class="modal fade pop-up-{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title text-truncate" id="myLargeModalLabel-1">{{photo.caption|default(photo.ride.name, true)}}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex flex-column align-items-center ekko-lightbox-container">
        <img src="{{photo.img_l}}" class="img-responsive center-block" alt="{{photo.caption}}">
		</div>
		<div class="modal-footer">
        	Taken by <a href="/people/{{ photo.ride.athlete.id }}">{{ photo.ride.athlete.display_name }}</a>.  {% if photo.ref %}<a href='{{photo.ref}}'>View in Instagram</a>{% endif %}
		</div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal mixer image -->
{% endfor %}
{% endblock %}
{% block content %}
<div id="sect-main" class="card mb-3 mt-lg-4 bg-light">
	<div class="p-4 p-lg-5 d-flex flex-column flex-lg-row align-items-center">
		<img src="/img/logo-blue-sm.png" class="me-lg-5" />
		<div class="d-flex flex-column align-items-center align-items-lg-start text-center text-lg-start">
			<h1 style="font-size: 4rem;">Freezing Saddles</h1>
			<h3>Ride bike. Earn points.</h3>
			<p class="text-muted">
				The official leaderboard and data analysis charts for the {{ competition_title }}
				competition.
			</p>
			<div class="btn-group mb-2" role="group" aria-label="Team Points">
				<a href="/leaderboard/team" class="btn btn-primary">Official Points Leaderboard</a>
				<a href="/leaderboard/team_text" class="btn btn-primary">Official Points Leaderboard (text)</a>
			</div>
		</div>
	</div>
</div>

{% if not bafs_is_live %}
<div class="my-4 my-lg-5 alert alert-info">
	The shiny new Freezing Saddles competition for the upcoming winter hasn't
	started yet, although there are currently <strong>{{contestant_count}}</strong>
	contestants registered. There are still bike rides going on, you should go for a bike ride.
</div>
{% else %}
<div id="sect-stats" class="mb-4 mb-lg-5">
	<div class="badge mb-3 bg-secondary d-flex flex-column flex-lg-row align-items-center justify-content-around" style="font-size: 1.5rem">
		<span>{{team_count}} teams</span>
		<span class="stat-divider"></span>
		<span>{{contestant_count}} contestants</span>
		<span class="stat-divider"></span>
		<span>{{total_rides|groupnum}} rides</span>
		<span class="stat-divider"></span>
		<span>{{total_hours|groupnum}} hours</span>
		<span class="stat-divider"></span>
		<span>{{total_miles|groupnum}} miles</span>
	</div>

	<div class="badge-group" >
		<span class="badge bg-primary" style="font-size: 1.33rem">{{sub_freezing_hours|groupnum}} hours below freezing</span>
		<span class="badge bg-success" style="font-size: 1.33rem">{{rain_hours|groupnum}} hours in the rain</span>
		<span class="badge bg-info" style="font-size: 1.33rem">{{snow_hours|groupnum}} hours in the snow</span>
	</div>
</div>
{% endif %}

{% if photos %}
<div id="sect-photos" class="mb-4 mb-lg-5 photo-grid">
		{% for photo in photos %}
			{% if loop.index == 12 %}
				<a href="{{ url_for('photos.index') }}" class="btn btn-primary btn-lg d-flex align-items-center justify-content-center" style="aspect-ratio: 1;">More<br>Photos</a>
			{% else %}
				<a href="#" class="photo-thumbnail" data-bs-toggle="modal" data-bs-target=".pop-up-{{photo.id}}"  style="background-image: url('{{ photo.img_l }}');">
				</a>
				<!-- p class="mt-1">Taken by <a href="/people/{{ photo.ride.athlete.id }}">{{ photo.ride.athlete.display_name }}</a></p -->
			{% endif %}
		{% endfor %}
</div>
{% endif %}

<div id="sect-cal" class="mb-4 d-flex flex-column flex-lg-row">
	<div class="flex-grow-1">
		<div class="responsiveCal">
		<iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vss0aloebi85u9dc9shihueg0o%40group.calendar.google.com&amp;color=%2342104A&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="400" frameborder="0" scrolling="no"></iframe></div>
	</div>
	<div class="flex-grow-1 d-none d-lg-block">
        &nbsp;
        <!-- placeholder for real-time graph of rides submitted.
             See https://github.com/freezingsaddles/freezing-web/issues/178
        -->
	</div>
</div>

</div>
{% endblock %}
