{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="gallery-wrapper">

    <h1 class="page-header mb-4">Competition Photos</h1>

    <div class="photo-grid mb-4 gap-lg-4">
    {% for photo in photos %}
        <a href="{{ photo.img_l }}" data-toggle="lightbox" data-gallery="multiimages"
           class="photo-thumbnail"
           data-title="{{ photo.caption |default(photo.ride.name, true) }}"
           data-parent=".gallery-wrapper"
           data-footer='<p>Taken by <a href=/people/{{ photo.ride.athlete.id }}>{{ photo.ride.athlete.display_name }}</a> {% if photo.ref %}<a href='{{photo.ref}}'>View in Instagram</a>{% endif %}</p>'
           style="background-image: url('{{ photo.img_l }}');">
        </a>
    {% endfor %}
    </div>

    <nav class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{% if page > 1 %}{{ url_for('photos.index', page=page-1) }}{% else %}#{% endif %}"><span aria-hidden="true">&larr;</span> Newer</a>
            </li>
            <li class="page-item {% if page >= total_pages %}disabled{% endif %}">
                <a class="page-link" href="{% if page < total_pages %}{{ url_for('photos.index', page=page+1) }}{% else %}#{% endif %}">Older <span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}
