{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row gallery-wrapper">

    <div class="col-lg-12">
        <h1 class="page-header">Competition Photos</h1>
    </div>

    {% for photo in photos %}
    <div class="col-lg-2 col-md-3 col-xs-4 thumb">

        <a href="{{ photo.img_l }}" data-toggle="lightbox" data-gallery="multiimages"
           data-title="{{ photo.caption if photo.caption != None }}" data-parent=".gallery-wrapper"
                                                                     data-footer="Taken by {{ photo.ride.athlete.display_name }}.  {% if photo.ref %}<a href='{{photo.ref}}'>View in Instagram</a>{% endif %}">
            <div class="center-cropped"
                 style="background-image: url('{{ photo.img_t }}');">
                <img src="http://placehold.it/120x120"/>
            </div>
        </a>

    </div>
    {% endfor %}

</div>


<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous {% if page == 1 %}disabled{% endif %}">
                <a href="{% if page > 1 %}{{ url_for('photos.index', page=page-1) }}{% else %}#{% endif %}"><span aria-hidden="true">&larr;</span> Newer</a>
            </li>
            <li class="next {% if page >= total_pages %}disabled{% endif %}">
                <a href="{% if page < total_pages %}{{ url_for('photos.index', page=page+1) }}{% else %}#{% endif %}">Older <span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}
