{% extends "base.html" %}
{% block content %}
<div class="panel panel-default">
	<div class="panel-heading">Hains Point Laps</div>
	<div class="panel-body">
		<p>We're looking for the hamsterest hamster who ever hamstered</p>
		<p>Segment Miles is based on the 2.5 mile <a href="https://www.strava.com/segments/1081507">Gate to Gate segment</a>.
<div class="table-responsive">
<table id="hamster" class="table table-condensed">
	<thead>
		<tr><th>Rank</th><th>Hamster</th><th>Times Hamstered</th><th>Segment Miles</th><th>Total Miles</th><th>Hamster %</th></tr>
	</thead>
{% for a, b, c in indiv_hains %}
	<tr>
		<td>{{loop.index}}</td>
		<td>{{a}}</td>
		<td>{{b}}</td>
		<td>{{b * 2.5}}</td>
		<td>{{c|round(1)}}</td>
		<td>{{((b*250)/c)|round(1)}}</td>
		</tr>
{% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}
{% block foot %}
<script type="text/javascript" src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<script type="text/javascript">
$(document).ready(function(){
    $('#hamster').DataTable( {
		"paging":   false,
        "order": [[ 2, "desc" ]]
    } );
});
</script>
{% endblock %}
