{% extends "base.html" %}
{% block content %}
    <h1>
        Friends of BAFS
    </h1>
    <p>
        This "leaderboard" is for the those riders who are not currently on a competitive team, either by choice or by late registration. These riders are encouraged to ride,
        to participate in reindeer games, and to show up at gatherings, but their rides will be ineligible for any and all leaderboards.
    </p>
    <div class="card">
        <div class="card-body py-1">
            <table class="table table-condensed">
                <tr>
                    <th class="number rank">
                        Rank
                    </th>
                    <th>
                        Rider
                    </th>
                    <th class="number">
                        Points
                    </th>
                    <th class="number">
                        Days
                    </th>
                    <th class="number">
                        Miles
                    </th>
                </tr>
                {% for indiv_row in indiv_rows %}
                    <tr class="{{ indiv_row._mapping['id'] | myself }}">
                        <td class="number rank">
                            {{ loop.index }}
                        </td>
                        <td>
                            <a href="/people/{{ indiv_row._mapping['id'] }}" class="hover-underline">{{ indiv_row._mapping['athlete_name'] }}</a>
                        </td>
                        <td class="number">
                            {{ indiv_row._mapping['total_score']|round|int|groupnum }}
                        </td>
                        <td class="number">
                            {{ indiv_row._mapping['days_ridden']|round|int|groupnum }}
                        </td>
                        <td class="number">
                            {{ indiv_row._mapping['total_distance']|round|int|groupnum }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
