{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group float-end mt-2">
                <button type="button" onclick="hide_km();" class="btn btn-success">
                    America!
                </button>
                <button type="button" onclick="hide_miles();" class="btn btn-danger">
                    Other
                </button>
            </div>
            <h1>
                All Participants
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                Weekly data is for {{ weekstart.strftime("%m-%d-%Y") }} to {{ weekend.strftime("%m-%d-%Y") }}
            </p>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="user-list" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            User
                        </th>
                        <th class+number">Rides This Week
                        </th>
                        <th class="number">
                            Mileage This Week
                        </th>
                        <th class="number">
                            Kilometerage This Week
                        </th>
                        <th class="number">
                            Total Rides
                        </th>
                        <th class="number">
                            Total Mileage
                        </th>
                        <th class="number">
                            Total Kilometerage
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                        <tr>
                            <td>
                                <a href="/people/{{ u.id }}">{{ u.name }}</a>
                            </td>
                            <td class="number">
                                {{ u.weekrides }}
                            </td>
                            <td class="number">
                                {{ u.weektotal | round(1) }}
                            </td>
                            <td class="number">
                                {{ (u.weektotal/0.62137) | round(1) }}
                            </td>
                            <td class="number">
                                {{ u.totalrides }}
                            </td>
                            <td class="number">
                                {{ u.totaldist | round(1) }}
                            </td>
                            <td class="number">
                                {{ (u.totaldist /0.62137) | round(1) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block foot %}
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script type="text/javascript">
$(document).ready(function(){
    $('#user-list').dataTable({
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"bSort": true,
		"bInfo": false,
		"bAutoWidth": false,
		"bDestroy": true,
		"aoColumns": [
			null,
			null,
			null,
			{ "bVisible":    false },
			null,
			null,
			{ "bVisible":    false }
		] } );
} );
function fnShowHide( iCol )
{
	/* Get the DataTables object again - this is not a recreation, just a get of the object */
	var oTable = $('#user-list').dataTable();

	var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
	oTable.fnSetColumnVis( iCol, bVis ? false : true );
}
function hide_km()
{
	var oTable = $('#user-list').dataTable();
	var bVis = oTable.fnSettings().aoColumns[2].bVisible;
	if (!bVis)
	{
		oTable.fnSetColumnVis(2, true);
		oTable.fnSetColumnVis(5, true);
		oTable.fnSetColumnVis(3, false);
		oTable.fnSetColumnVis(6, false);
	}
}
function hide_miles()
{
	var oTable = $('#user-list').dataTable();
	var bVis = oTable.fnSettings().aoColumns[3].bVisible;
	if (!bVis)
	{
		oTable.fnSetColumnVis(3, true);
		oTable.fnSetColumnVis(6, true);
		oTable.fnSetColumnVis(2, false);
		oTable.fnSetColumnVis(5, false);
	}
}
    </script>
{% endblock %}
