{% extends "base.html" %}
{% block content %}
    <div class="card">
        <h5 class="card-header">
            Every Day Riders - Day {{ num_days }}
        </h5>
        <div class="card-body">
            {% if all_done %}
                <p>
                    <strong>The competiton for this year is complete after {{ num_days }} days of riding!</strong>
                </p>
            {% endif %}
            <ul>
                <li>
                    If your name is <span class="text-success">green</span>, you've ridden every day. <em>Congratulations!</em>&nbsp;🏆 for you!
                </li>
                <li>
                    <span class="text-warning">Yellow</span> means you are one ride shy of every day and you have not yet ridden today.  ⚠️  <strong>Go ride today!</strong>
                </li>
                <li>
                    <span class="text-danger">Red</span> means you have missed a day, alas. Maybe next year you will be in the elite group of every day riders.
                </li>
            </ul>
            <p>
                If your name is <span class="text-warning">yellow</span> or <span class="text-danger">red</span>, either you haven't ridden enough (see
                <a href="https://www.velominati.com/the-rules/#5" rel="noreferrer">Rule 5</a>) or you need to upload your rides.
            </p>
            <table class="table table-condensed">
                <tr>
                    <th class="number rank">
                        Days
                    </th>
                    <th>
                        Rider
                    </th>
                    <th class="number">
                        Miles
                    </th>
                    <th class="emoji">
                        Every Day Rider?
                    </th>
                </tr>
                {% for a, b, c, d, e in ride_days %}
                    {% if c >= num_days %}
                        {% set class = "text-success" %}
                    {% elif c == (num_days - 1) and e == 0 and not all_done %}
                        {% set class = "text-warning" %}
                    {% else %}
                        {% set class = "text-danger" %}
                    {% endif %}
                    <tr>
                        <td class="number rank">
                            {{ c }}
                        </td>
                        <td>
                            <a href="/people/{{ a }}" class="{{ class }} hover-underline">{{ b }}</a>
                        </td>
                        <td class="number">
                            {{ d | round(1) }}
                        </td>
                        <td class="emoji">
                            {% if c >= num_days %}
                                🏆
                            {% elif c == (num_days - 1) and e == 0 and not all_done %}
                                ⚠️
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
