---
name: Build Tag

on:
  push:
    tags:
      - '*'

jobs:
  build:
    permissions:
      contents: read
    uses: freezingsaddles/freezing-web/.github/workflows/build-docker.yml@1.5.6
    with:
      tag: ${{ github.ref_name }}
    secrets: inherit
