---
name: Docker Build and maybe Push

on:
  workflow_call:
    inputs:
      org:
        default: freezingsaddles
        description: 'Docker Hub organization'
        required: false
        type: string
      repo:
        default: freezing-web
        description: 'Docker Hub repository name'
        required: false
        type: string
      tag:
        default: latest
        description: 'tag for Docker container'
        required: false
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      -
        name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up Python environment
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: "3.10"

      - name: Fix metadata
        run: |
          if [ -x  bin/freeze.sh ]; then
            bin/freeze.sh
          else
            echo "No bin/freeze.sh found, skipping"
          fi

      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        # Thanks https://stackoverflow.com/a/71854535/424301
        if: ${{ github.actor != 'dependabot[bot]' }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build
        if: ${{ github.actor == 'dependabot[bot]' }}
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          push: false
          tags: ${{ inputs.org }}/${{ inputs.repo }}:${{ inputs.tag }}
      -
        name: Build and push
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          push: true
          tags: ${{ inputs.org }}/${{ inputs.repo }}:${{ inputs.tag }}
