---
name: Security

on: pull_request

jobs:

  analyze:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Check out source repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Perform Bandit Analysis
        uses: PyCQA/bandit-action@67a458d90fa11fb1463e91e7f4c8f068b5863c7f  # v1.0.1
        with:
          severity: "medium"
          confidence: "medium"
          targets: "freezing tests"
          skips: "B101"  # Skip assert statements check
